 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}
<section class="faq-area section">
    <div class="container">
        <div class="row faq-wrap">
            <div class="col-lg-12">
                <div class="faq-head">
                    <h2>Прайс-лист</h2>
                    <p>Прейскурант, указанный в венгерских форинтах, действителен для владельцев венгерских карт TAJ!</p>
                    <p><strong>ОТМЕНА ВСТРЕЧИ</strong> <br>

Если вы не можете прийти на процедуру, пожалуйста, сообщите нам об этом как минимум за 48 часов. В случае отмены в течение 48 часов мы взимаем плату за резервирование в размере 12 990 Ft в час.</p>
                </div>
                <div class="faq-item">
<table class="table table-striped" id="1">
    <br>
  <thead>
  <tr><h2>Общая диагностика</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Консультация (плата за консультацию начисляется в зависимости от лечения)	</td>
      <td class="text-right">6000 Ft</td>
    </tr>
    <tr>
      <td>Консультация + Панорамный рентген + План лечения</td>
      <td class="text-right">12 900 Ft</td>
    </tr>
    <tr>
      <td>Панорамный рентген</td>
      <td class="text-right">6990 Ft</td>
    </tr>
    <tr>
      <td>Внутриротовой рентген</td>
      <td class="text-right">3500 Ft</td>
    </tr>
    <tr>
      <td>Базовый пакет фильтров</td>
      <td class="text-right">16 000 Ft</td>
    </tr>
    <tr>
      <td>Комплексный фильтр-пакет – включает удаление зубного камня с помощью Air Flow (солевая полировка)</td>
      <td class="text-right">30 000 Ft</td>
    </tr>
  </tbody>
</table>
                    <br>
<table class="table table-striped" id="2">
  <thead>
  <tr><h2>Гигиенические процедуры для зубов</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Удаление зубного камня, подарок с советом по гигиене полости рта.</td>
      <td class="text-right">20 000 Ft</td>
    </tr>
    <tr>
      <td>Отбеливание зубов Beyond®</td>
      <td class="text-right">79 990 Ft</td>
    </tr>
    <tr>
      <td>Профессиональная полировка Air-Flow</td>
      <td class="text-right">14 000 Ft</td>
    </tr>

  </tbody>
</table>
                    <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Консервативная стоматология</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Закрытие паза </td>
      <td class="text-right">18 990 Ft</td>
    </tr>
    <tr>
      <td>Прямая оболочка</td>
      <td class="text-right">59 900 Ft</td>
    </tr>
    <tr>
      <td>Пополнение жизни</td>
      <td class="text-right">49 900 Ft</td>
    </tr>
    <tr>
      <td>Композитная вкладка/накладка</td>
      <td class="text-right">59 990 Ft</td>
    </tr>
    <tr>
      <td>Пресс-вкладка/накладка из керамики</td>
      <td class="text-right">89 990 Ft</td>
    </tr>
    <tr>
      <td>Эстетическое пломбирование</td>
      <td class="text-right">От 35 000 Ft</td>
    </tr>
    <tr>
      <td>Цервикальное пломбирование</td>
      <td class="text-right">25 000 Ft</td>
    </tr>
    <tr>
      <td>Временная пломба</td>
      <td class="text-right">8 990 Ft</td>
    </tr>
  </tbody>
</table>

                    <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Лечение и пломбирование корневых каналов</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Корневой штифт</td>
      <td class="text-right">35 000 Ft</td>
    </tr>
    <tr>
      <td>Корневая пломба Передний зуб (1-2 канала)</td>
      <td class="text-right">35 000 Ft</td>
    </tr>
    <tr>
      <td>Корневая пломба Моляр (3-4 канал)</td>
      <td class="text-right">От 40 000 Ft</td>
    </tr>
    <tr>
      <td>Корневая пломба премоляра (2 канала)</td>
      <td class="text-right">От 35 000 Ft</td>
    </tr>
    <tr>
      <td>Удаление старой корневой пломбы на канал</td>
      <td class="text-right">15 000 Ft</td>
    </tr>
    <tr>
      <td>Резекция кончика корня</td>
      <td class="text-right">50 000 Ft</td>
    </tr>
    <tr>
      <td>Трепанация переднего зуба</td>
      <td class="text-right">25 000 Ft</td>
    </tr>
    <tr>
      <td>Трепанация коренного зуба</td>
      <td class="text-right">40 000 Ft</td>
    </tr>
    <tr>
      <td>Трепанация премоляров</td>
      <td class="text-right">30 000 Ft</td>
    </tr>
  </tbody>
</table>

                    <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Реставрация зубов - Коронки, виниры</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Пресс-керамическая оболочка E.max</td>
      <td class="text-right">99 000 Ft</td>
    </tr>
    <tr>
      <td>Прессованная керамическая коронка E.max</td>
      <td class="text-right">99 000 Ft</td>
    </tr>
    <tr>
      <td>Цирконовая коронка</td>
      <td class="text-right">89 000 Ft</td>
    </tr>
    <tr>
      <td>Металлокерамическая коронка с технологией CAD/CAM.</td>
      <td class="text-right">69 000 Ft</td>
    </tr>
    <tr>
      <td>Золотая керамическая коронка (+цена на золото)</td>
      <td class="text-right">69 900 Ft</td>
    </tr>
    <tr>
      <td>Циркониевая коронка, фиксируемая на имплантате</td>
      <td class="text-right">99 000 Ft</td>
    </tr>
    <tr>
      <td>Металлокерамическая коронка, фиксированная на имплантате</td>
      <td class="text-right">79 000 Ft</td>
    </tr>
    <tr>
      <td>Удаление коронки/моста</td>
      <td class="text-right">19 990 Ft</td>
    </tr>
    <tr>
      <td>Клиники временной короны</td>
      <td class="text-right">9 900 Ft</td>
    </tr>
    <tr>
      <td>Временная коронка PMMA Dental</td>
      <td class="text-right">14 990 Ft</td>
    </tr>
  </tbody>
</table>


                    <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Зубные протезы - Частичные/полные съемные протезы</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Гибкие протезы Валпласт </td>
      <td class="text-right">230 000 Ft</td>
    </tr>
    <tr>
      <td>Alábélelés</td>
      <td class="text-right">31 500 Ft</td>
    </tr>
    <tr>
      <td>Частичный протез с металлической пластиной</td>
      <td class="text-right">От 195 000 Ft</td>
    </tr>
    <tr>
      <td>Телескопические протезы (из)</td>
      <td class="text-right">289 900 Ft</td>
    </tr>
    <tr>
      <td>Полный съемный протез</td>
      <td class="text-right">180 000 Ft</td>
    </tr>
    <tr>
      <td>Полный съемный протез с композитными зубами Premium Ivoclar</td>
      <td class="text-right">240 000 Ft</td>
    </tr>
  </tbody>
</table>

                    <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Имплантология</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Имплантация SGS Swiss Implant System</td>
      <td class="text-right">140 000 Ft</td>
    </tr>
    <tr>
      <td>Имплантация Nobel Biocare</td>
      <td class="text-right">200 000 Ft</td>
    </tr>
    <tr>
      <td>Имплантация Straumann BLT</td>
      <td class="text-right">220 000 Ft</td>
    </tr>
    <tr>
      <td>Установка имплантата Straumann SLActive</td>
      <td class="text-right">250 000 Ft</td>
    </tr>
    <tr>
      <td>Фиксация протеза на имплантатах All-on-4 (12 человек)
(включая временную и постоянную реставрацию)</td>
      <td class="text-right">1 584 000 Ft</td>
    </tr>
    <tr>
      <td>Суперструктура имплантата Swiss Implant System</td>
      <td class="text-right">69 000 Ft</td>
    </tr>
    <tr>
      <td>Суперструктура имплантата Nobel Biocare</td>
      <td class="text-right">110 000 Ft</td>
    </tr>
    <tr>
      <td>Имплантационная суперструктура Straumann</td>
      <td class="text-right">120 000 Ft</td>
    </tr>
    <tr>
      <td>Высвобождение имплантата, установка формирователя десны, придание формы десне.</td>
      <td class="text-right">19 000 Ft</td>
    </tr>
    <tr>
      <td>All-on-4</td>
      <td class="text-right">Требуется консультация</td>
    </tr>
    <tr>
      <td>All-on-6</td>
      <td class="text-right">Требуется консультация</td>
    </tr>
    <tr>
      <td>Имплантация Неодент</td>
      <td class="text-right">140 000 Ft</td>
    </tr>
    <tr>
      <td>Суперструктура имплантата Neodent</td>
      <td class="text-right">60 000 Ft</td>
    </tr>
  </tbody>
</table>

                   <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Хирургия полости рта - Замена кости</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Синус-лифтинг</td>
      <td class="text-right">необходима консультация</td>
    </tr>
    <tr>
      <td>Замена кости</td>
      <td class="text-right">необходима консультация</td>
    </tr>
  </tbody>
</table>
              <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Хирургия полости рта - Удаление зубов</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Удаление зуба мудрости (простое, безоперационное)</td>
      <td class="text-right">28 990 Ft</td>
    </tr>
    <tr>
      <td>Простое удаление зуба</td>
      <td class="text-right">23 000 Ft</td>
    </tr>
    <tr>
      <td>Удаление кончика корня</td>
      <td class="text-right">49 000 Ft</td>
    </tr>
  </tbody>
</table>
              <br>
<table class="table table-striped justify-content-center" id="3">
  <thead>
  <tr><h2>Анестезия</h2></tr>
    <tr>
      <th class="text-left">Уход</th>
      <th class="text-right">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Анестезия – 1 час (с консультацией анестезиолога)</td>
      <td class="text-right">190 000 Ft</td>
    </tr>
    <tr>
      <td>+ каждый дополнительный час</td>
      <td class="text-right">90 000 Ft</td>
    </tr>
  </tbody>
</table>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Faq -->
{% endblock content %}