 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12 zero">
						<!--  Inner -->
<h2>Уведомление о конфиденциальности</h2>

 <h3>Кто мы</h3>
<p>
 Адрес нашего веб-сайта: <a href="https://digitaldentalart.hu/" target="_blank"><strong>https://digitaldentalart.hu</strong></a>.
</p>
<h3>Комментарии</h3>
 При отправке комментария, помимо информации, указанной в форме, собираются IP-адрес и строка идентификатора браузера для фильтрации нежелательного контента.
</p>
<p>Анонимизированная строка, созданная из вашего адреса электронной почты (так называемый хеш), может быть передана сервису Gravatar, если он используется на сайте. Условия использования сервиса Gravatar можно посмотреть по адресу: <a href="https://automattic.com/privacy/"  target="_blank"><strong>https://automattic.com/privacy/</strong></a>. После одобрения комментария, его содержание и профильное изображение будут отображаться публично.</p>
<p>Медиа<br/>
 Если зарегистрированный пользователь загружает изображения на сайт, необходимо избегать загрузки файлов с данными EXIF, которые включают GPS-координаты. Посетители сайта могут скачать и извлечь данные о местоположении из изображений на сайте.
</p>
<h3>Куки</h3>
<p>
 Если вы оставляете комментарий на нашем сайте, ваше имя, адрес электронной почты и веб-сайт могут сохраняться в файлах cookie. Это сделано для удобства, чтобы при следующем комментарии вам не нужно было снова заполнять эти поля. Срок действия таких cookie — один год.
</p>
<p>Когда вы посещаете страницу входа на сайт, устанавливаются временные cookie, чтобы определить, принимает ли ваш браузер cookie. Эти cookie не содержат персональных данных и удаляются при закрытии браузера.</p>
<p>При входе на сайт устанавливаются несколько cookie, которые сохраняют информацию о входе и параметры отображения интерфейса. Cookie для входа действуют в течение двух дней, а cookie с параметрами интерфейса — один год. Если вы выбираете «Запомнить меня», вход будет сохранен на две недели. При выходе из аккаунта cookie для входа удаляются.</p>
<p>При редактировании или публикации записи в браузере сохраняется дополнительный cookie. Этот cookie не содержит персональных данных, а лишь хранит идентификатор записи, которую вы редактировали. Срок его действия составляет один день.</p>

<h3>Встроенное содержимое с других веб-сайтов</h3>
<p>
 Статьи на этом сайте могут включать встроенное содержимое (например, видео, изображения, статьи и т. д.). Встроенное содержимое с других веб-сайтов ведет себя так же, как если бы вы посетили другой сайт.
</p>
<p>Эти сайты могут собирать данные о вас, использовать cookie, встраивать дополнительные сторонние системы отслеживания и отслеживать ваше взаимодействие с встроенным содержимым, особенно если у вас есть учетная запись и вы вошли в нее.</p>

						<h3>С кем мы делимся вашими данными</h3>
<p>
 Если вы запросите сброс пароля, ваш IP-адрес будет включен в письмо для сброса.
</p>

        <h3>Как долго мы храним ваши данные</h3>
<p>
 Если вы оставляете комментарий, сам комментарий и его метаданные хранятся неопределенно долго. Это делается для того, чтобы мы могли автоматически распознавать и одобрять последующие комментарии, вместо того чтобы оставлять их в очереди на модерацию.
</p>
<p>Для зарегистрированных пользователей (если таковые имеются) личная информация, указанная в их профиле, также хранится на сайте. Все пользователи могут просматривать, редактировать или удалять свою личную информацию в любое время (кроме имени пользователя). Администраторы сайта также могут просматривать и редактировать эту информацию.</p>

                        <h3>Какие права у вас есть на ваши данные</h3>
<p>
 Если у вас есть учетная запись на этом сайте или вы оставляли комментарии, вы можете запросить экспорт ваших персональных данных, которые мы храним, включая любые данные, которые вы предоставили нам. Вы также можете запросить удаление всех ваших персональных данных. Это не включает данные, которые мы обязаны хранить в административных, юридических или целях безопасности.
</p>

                        <h3>Куда мы отправляем ваши данные</h3>
<p>
 Комментарии посетителей могут проверяться с помощью автоматического сервиса обнаружения спама.
</p>
						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}