 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

		<!-- Error Page -->
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Error Inner -->
<h1>Политика конфиденциальности</h1>


<p>Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую «Институт красоты Призвание» и/или его аффилированные лица, включая все лица, входящие в одну группу с «Институт красоты Призвание» (далее — «Институт красоты Призвание»), могут получить о Пользователе во время использования им любого из сайтов, сервисов, служб, программ, продуктов или услуг «Институт красоты Призвание» (далее — Сервисы, Сервисы «Институт красоты Призвание») и в ходе исполнения  любых соглашений и договоров с Пользователем. Согласие Пользователя с Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется на все остальные перечисленные лица.</p>
<p>Использование Сервисов компании означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервисов.</p>
<h2>1. Персональная информация Пользователей, которую обрабатывает «Институт красоты Призвание»</h2>
<p>1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:</p>
<p>1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при отправке электронного письма или в процессе использования Сервисов, включая персональные данные Пользователя. Обязательная для предоставления Сервисов информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.</p>
<p>1.1.2. Данные, которые автоматически передаются Сервисам компании в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сервисам, адреса запрашиваемых страниц и иная подобная информация.</p>
<p>1.1.3. Иная информация о Пользователе, обработка которой предусмотрена условиями использования отдельных Сервисов компании.</p>
<p>1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сервисов компании. «Институт красоты Призвание» не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайтах компании, в том числе в результатах поиска.</p>
<p>1.3. «Институт красоты Призвание» не проверяет достоверность персональной информации, предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность. Однако «Институт красоты Призвание» исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии. </p>
<h2>2. Цели обработки персональной информации Пользователей</h2>
<p>2.1. «Институт красоты Призвание» собирает и хранит только ту персональную информацию, которая необходима для предоставления Сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.</p>
<p>2.2. Персональную информацию Пользователя «Институт красоты Призвание» обрабатывает в следующих целях:</p>
<p>2.2.1. Идентификация стороны в рамках Сервисов, соглашений и договоров с «Институт красоты Призвание»;</p>
<p>2.2.2. Предоставление Пользователю персонализированных Сервисов и исполнение соглашений и договоров;</p>
<p>2.2.3. Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, исполнения соглашений и договоров, а также обработка запросов и заявок от Пользователя;</p>
<p>2.2.4. Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов;</p>
<p>2.2.5. Таргетирование рекламных материалов;</p>
<p>2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.</p>
<h2>3. Условия обработки персональной информации Пользователей и её передачи третьим лицам</h2>
<p>3.1. «Институт красоты Призвание» хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов.</p>
<p>3.2. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов, Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.</p>
<p>3.3. «Институт красоты Призвание» вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:</p>
<p>3.3.1. Пользователь выразил согласие на такие действия;</p>
<p>3.3.2. Передача необходима для использования Пользователем определенного Сервиса либо для исполнения определенного соглашения или договора с Пользователем;</p>
<p>3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</p>
<p>3.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;</p>
<p>3.3.5. В результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные статистические данные, которые передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению компании.</p>
<p>3.4. При обработке персональных данных Пользователей «Институт красоты Призвание» руководствуется Федеральным законом РФ «О персональных данных».</p>
<h2>4. Изменение и удаление персональной информации. Обязательное хранение данных</h2>
<p>4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть.</p>
<p>4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию.</p>
<p>4.3. Права, предусмотренные пп. 4.1. и 4.2. настоящей Политики могут быть ограничены в соответствии с требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность компании сохранить измененную или удаленную Пользователем информацию на срок, установленный законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой государственному органу.</p>
<h2>5. Обработка персональной информации при помощи файлов Cookie и счетчиков</h2>
<p>5.1. Файлы cookie, передаваемые оборудованию Пользователя и оборудованием Пользователя, могут использоваться компанией для предоставления Пользователю персонализированных Сервисов, для таргетирования рекламы, которая показывается Пользователю, в статистических и исследовательских целях, а также для улучшения Сервисов компании.</p>
<p>5.2. Пользователь осознает, что оборудование и программное обеспечение, используемые им для посещения сайтов в сети интернет могут обладать функцией запрещения операций с файлами cookie (для любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.</p>
<p>5.3. «Институт красоты Призвание» вправе установить, что предоставление определенного Сервиса возможно лишь при условии, что прием и получение файлов cookie разрешены Пользователем.</p>
<p>5.4. Структура файла cookie, его содержание и технические параметры определяются компанией и могут изменяться без предварительного уведомления Пользователя.</p>
<p>5.5. Счетчики, размещенные компанией в Сервисах, могут использоваться для анализа файлов cookie Пользователя, для сбора и обработки статистической информации об использовании Сервисов, а также для обеспечения работоспособности Сервисов в целом или их отдельных функций в частности. Технические параметры работы счетчиков определяются компанией и могут изменяться без предварительного уведомления Пользователя.</p>
<h2>6. Меры, применяемые для защиты персональной информации Пользователя</h2>
<p>6.1. «Институт красоты Призвание» принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
<p>6.2. Компания несет ответственность перед клиентом в случаях, предусмотренных действующим законодательством.</p>
<p>6.3. Компания освобождается от ответственности в случаях, когда информация о Клиенте:</p>
<ul>
<li>стала публичным достоянием до её утраты или разглашения.</li>
<li>была получена от третьей стороны до момента её получения Компанией.</li>
<li>была разглашена с согласия Клиента.</li>
</ul>
<h2>7. Изменение Политики конфиденциальности. Применимое законодательство</h2>
<p>7.1. «Институт красоты Призвание» имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция постоянно доступна на странице по адресу <a href="legal-confidential">https://beautyinst.ru/legal-confidential</a>.</p>
<p>7.2. К настоящей Политике и отношениям между Пользователем и компанией, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>
<h2>8. Обратная связь. Вопросы и предложения</h2>
<p>8.1. Все предложения или вопросы по поводу настоящей Политики Пользователь вправе направлять в Службу поддержки пользователей компании, либо по адресу
    <span>150014, РОССИЯ, ОБЛ ЯРОСЛАВСКАЯ, <span>150003, Россия, г. Ярославль, пр-т Ленина, д. 23, этаж 1</span></span>, «Институт красоты Призвание».</p>
<p><em>Дата публикации: 20 июня 2017 г.</em></p>
						<!--/ End Error Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Error Page -->


{% endblock content %}