 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>{{ super_title }}</h2>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container ol_article">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col">

			<h2>Гарантия</h2>
<p>Почему из множества клиник стоит выбрать одну, профессионально и полностью оснащенную?</p>
<p>
Мы сотрудничаем со стоматологами, имеющими многолетний профессиональный опыт.
Мы работаем с материалами, которые являются лучшими на международном рынке.
Мы работаем с машинами, включая оборудование для обработки изображений, которые отвечают современным ожиданиям.
Всем нашим пациентам уделяется особое внимание.
Кроме того, у нас есть собственная зуботехническая лаборатория с одной из самых профессиональных команд в Венгрии, поэтому консультация технического специалиста является частью лечения каждой реставрации.
 </p>
        <h3>Гарантийные сроки:</h3>
<ol>
	<li>Цирконий/металлокерамическая коронка: 3 года.</li>
	<li>Пломбы, вкладки/накладки: 1 год.</li>
	<li>Пресс-керамические корпуса: 2 года.</li>
	<li>Съемные замены: 1 год.</li>
	<li>Пожизненная гарантия на вживленные имплантаты (только на имплантат в кость)</li>
</ol>

	</div>
<div class="col">
<h3>Условия гарантии:</h3>
                            <ol>
                                <li>Пациент должен соблюдать все рекомендации, указанные в кабинете, включая правила гигиены полости рта.</li>
                                <li>Пациент должен сдать назначенные контрольные анализы.</li>
                                <li>Готовый заменитель пациент должен использовать по назначению, определенному лечащим врачом.</li>
                                <li>Гарантия вступает в силу после оплаты всех счетов-фактур.</li>
                            </ol>
 <p>Если у вас есть другие вопросы, вы можете связаться с нами здесь !</p>
</div>
</div>

						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}