 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
{% include "sections/button-center.html" %}

<!-- Левая картинка-->
<div class="row">
		<div class="col-lg-4">
		<div class="department-left">
			<img class="float-left" src="{% static '/blog/img/teeth/teeth_2.jpg' %}" alt="#">
		</div>
	</div>
	<div class="col-lg-8">
		<div class="department-rigth">
			<h2>Кабинетное отбеливание зубов Beyond® — новейший и щадящий метод </h2>
				<p></p>
			<br>
		</div>
	</div>
</div>
<!--/ Левая картинка-->


<!--	Правая картинка   -->
<div class="row pad_div_25px">
	<div class="col-lg-8">
		<div class="department-left serv">
<h2>Как проходит лечение?</h2>
<h3>Ваши зубы изменили цвет и пятна, и из-за этого вы не смеете улыбаться? Мы поможем вам с вашей проблемой!</h3>
<p><strong>Отбеливание зубов</strong>
	Beyond® начинается с обычной чистки зубов, чтобы убедиться, что поверхность зубов полностью очищена от грязи. Затем, при необходимости, процедуре предшествует удаление зубного камня и полировка. Прежде чем начать отбеливание зубов, ваш стоматолог или стоматолог-гигиенист покроет ваши десны и губы, оставив открытыми только зубы, подлежащие отбеливанию.
</p>
<p>
	Затем на поверхность зубов наносится <strong>отбеливающий гель Beyond®</strong>, который освещается холодным светом.
	Гель оказывает отбеливающее действие на зубы в течение 10 минут, после чего его заменяют.
</p>
<p>
	Изношенный гель заменяется дважды во время отбеливания зубов. Освещение длится в общей сложности 3 х 10 минут, после чего гель полностью удаляется с зубов.
По окончании отбеливания зубов на зубы наносится антисенситивная паста, которую затем можно удалить через несколько минут, и на этом процедура отбеливания зубов завершается, которая с учетом препаратов не занимает более часа.
</p>
<p>
	А пока вам остается только сидеть сложа руки и ждать результата!
</p>
	</div>
	</div>
	<div class="col-lg-4">
		<div class="department-right">
			<img src="{% static '/blog/img/teeth/teeth_3.jpg' %}" alt="#">
		</div>
	</div>
</div>
<!--	/ Правая картинка   -->

						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}