{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% block breadcrumbs %}
{% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}


<section class="blog grid section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row">
                    {% for p in page_obj %}
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single Blog -->
                        <div class="single-news">
                            <div class="news-head">
                                <img src="{{p.photo.url}}" alt="{{ p.title }}">
                            </div>
                            <div class="news-body">
                                <div class="news-content">
                                    <div class="date">22 Aug, 2020</div>
                                    <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
                                    <p class="text">{{ p.description | linebreaks }}</p>
                                <div class="button article">
                                    <a href="{{ p.get_absolute_url }}" class="btn">Подробнее</a>
                                </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <!-- Pagination -->

                        <div class="pagination">
                            <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li class="control"><a href="?page=1">Первая</a></li>
            <li class="control"><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
            <li class="control"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            <li class="control"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
		{% else %}
		<li class="control"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="control"><a href="?page={{page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="control"><a href="?page={{ page_obj.next_page_number }}">»</a></li>
            <li class="control"><a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
        {% endif %}
                            </ul>
                        </div>
                        <!--/ End Pagination -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ End Single News -->
{% endblock content %}