{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>{{ super_title }}</h2>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li><a href="{% url 'blog' %}">Блог</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}
		<!-- Single News -->
<section class="news-single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="single-main">
                            <!-- News Head -->

                            <!-- News Title -->
                            <h1 class="news-title">{{ title }}</h1>
                            <!-- Meta -->
                            <div class="meta">
                                <div class="meta-left">

                                    <span class="date"><i class="fa fa-clock-o"></i>03 Feb 2019</span>
                                </div>

                            </div>
                            <!-- News Text -->
                            <div class="news-text">
                                {% autoescape off %}
                                {{post.content}}
                                {% endautoescape %}

                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>
<!--/ End Single News -->
{% endblock content %}