 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>{{ super_title }}</h2>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
						<li><a href="{% url 'korona' %}">Коронки</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Когда рекомендуется металлическая керамическая коронка? </h2>
<p>
	Металлическая керамическая коронка — это давно применяемый и надежный способ протезирования, который многие выбирают в первую очередь из-за соотношения цены и качества.
  Основу металлической керамической коронки составляет металлический каркас, на который поэтапно наносится натуральный фарфоровый слой
  для достижения максимально естественного вида протеза. Безметалловую, полностью керамическую версию называют прессованной керамической коронкой.
</p>
<p>
  Металлическая керамическая коронка является отличным выбором для жевательной зоны, но также может использоваться и в передних участках,
  хотя в последнее время в этой области все больше людей выбирают безметалловые циркониевые керамические или прессованные керамические коронки.
</p>
<p>
  Металлическая керамическая коронка изготавливается довольно быстро, поэтому вам не придется долго ждать, чтобы увидеть свою красивую улыбку.
  Если вы не хотите оставаться без зуба даже на один день, мы изготовим для вас временный протез!
</p>


        <h3>Преимущества металлической керамической коронки:</h3>
<ul class="list">
    <li><i class="fa fa-check fa-2x"></i> Долговечное, долгосрочное протезирование.</li>
    <li><i class="fa fa-check fa-2x"></i> Быстрое изготовление.</li>
    <li><i class="fa fa-check fa-2x"></i> Доступная цена.</li>
    <li><i class="fa fa-check fa-2x"></i> Высокая прочность на сжатие.</li>
    <li><i class="fa fa-check fa-2x"></i> Подходит для жевательных зубов.</li>
    <li><i class="fa fa-check fa-2x"></i> Многолетний опыт применения.</li>

</ul>
<p>
  Во время консультации с врачом и оценки состояния мы учтем все аспекты и предложим вам наиболее подходящее решение.
  Если металлическая керамическая коронка — это ваш выбор, то в смете и плане лечения будут указаны сроки выполнения процедуры.
</p>
			<h3>Этапы лечения включают:</h3>
<p>Циркониевая коронка рекомендуется в следующих случаях:</p> <br>
			<ul class="list">
				<li><i class="fa fa-check fa-2x"></i> Подготовка зуба(ов).</li>
				<li><i class="fa fa-check fa-2x"></i> Снятие оттиска.</li>
				<li><i class="fa fa-check fa-2x"></i> Проба каркаса.</li>
				<li><i class="fa fa-check fa-2x"></i> Примерка без глазури/тонкая регулировка.</li>
				<li><i class="fa fa-check fa-2x"></i> Окончательное закрепление.</li>
			</ul>
	</div>

	<div class="col-lg-4">

			<img src="{% static '/blog/img/service/corona/femkeramia-korona-femkeramia-korona-kezeles-7.jpg' %}" alt="Выбор цвета коронки">

	</div>
	<br>

</div>
<br>
{% include "sections/button-center.html" %}
<br>

<div class="row">
		<div class="col-lg-4">

			<img class="float-left" src="{% static '/blog/img/service/corona/femkeramia-korona-femkeramia-korona-fogpotlas-femporc-8.jpg' %}" alt="Открытый рот пациента">

	</div>
	<div class="col-lg-8">

<p>
  <strong>
    Вечный вопрос — металлическая керамическая коронка, безметалловая циркониевая керамика или, возможно, прессованная керамика?
  </strong>
</p>
<p>
  Несмотря на многочисленные преимущества металлической керамической коронки, этот тип протезирования не всегда обеспечивает
  тот эстетичный и естественный эффект, который может создать коронка из диоксида циркония.
  Как уже упоминалось, металлическая керамика все чаще выбирается только для задней жевательной зоны, однако из-за своей прочности
  и отличного соотношения цена/качество она особенно рекомендуется.
</p>
<p>
  Еще одно отличие заключается в том, что у металлических коронок со временем может появляться серый край на шейке зуба или краю десны,
  тогда как у циркониевых коронок этого не происходит. Из-за эстетических различий в переднем сегменте мы в первую очередь рекомендуем циркониевые коронки,
  а для реставрации одиночных зубов — прессованные керамические коронки с еще более высокими эстетическими характеристиками.
</p>
			<br>

	</div>
</div>

{% include "sections/button-center.html" %}
						<br>
<div class="row">
	<div class="col-lg-8">
		<div class="department-left ol_article">
			<h3>Консультация и план лечения</h3>
<p>
    Во время консультации и оценки состояния зубов мы предложим вам наиболее подходящее решение с учетом всех факторов.
    Если циркониевая коронка окажется наиболее подходящей, в вашем предложении и плане лечения будет содержаться информация о графике лечения.
</p>
			<h3>Этапы лечения</h3>
<ol>
    <li>Подготовка зуба(ов).</li>
    <li>Снятие слепков.</li>
    <li>Примерка каркаса.</li>
    <li>Примерка без глазури настройка.</li>
    <li>Окончательное закрепление.</li>
</ol>
<p>
    <strong>
    Вечный вопрос — что выбрать: металлическую керамическую коронку, безметалловую циркониевую керамику или, возможно, прессованную керамику?
    </strong>
</p>
 <p>
     Металлокерамические коронки все чаще выбираются только для задней, жевательной зоны, где их прочность и отличное соотношение цены и качества делают их особенно рекомендуемыми.
 </p>
<p>
    Еще одно различие заключается в том, что у металлических каркасных коронок может появляться серый ободок на шейке зуба и краю десны, в то время как циркониевые керамические коронки этого недостатка лишены. Из-за эстетических различий мы в первую очередь рекомендуем циркониевые керамические коронки для заметной передней зоны, а для восстановления одиночных коронок — прессованные керамические коронки, обладающие еще более выдающимися эстетическими показателями.
</p>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="department-right">
			<img src="{% static '/blog/img/service/corona/femkeramia-korona-korona-preskeramia-paciens-6.jpg' %}" alt="#">
		</div>
	</div>
</div>
						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}