 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>{{ title }}</h2>

        <h3>Высший уровень имплантационных решений при полном отсутствии зубов</h3>
<p>
    Существует несколько вариантов реабилитации при полном отсутствии зубов — от съемного протеза до несъемного фиксированного моста, установленного на имплантах. Количество и качество существующей костной ткани, состояние здоровья пациента и финансовые аспекты также могут влиять на составление плана лечения. Благодаря постоянному развитию дентальной имплантологии наши пациенты могут выбирать из всё большего количества альтернатив.
</p>
<p>
    Тем, кто хочет установить импланты, не стоит откладывать имплантацию, так как со временем на месте отсутствующих зубов происходит резорбция кости. Если костной ткани недостаточно для имплантации, то потребуется костная пластика, иначе невозможно будет изготовить фиксированное протезирование.
</p>
<p>
    Для тех, у кого отсутствуют все зубы, самым стабильным и наиболее приближенным к естественным зубам решением является полностью фиксированный фиксированного мост, закрепленный на 8 имплантах.
</p>
	</div>

	<div class="col-lg-4">

			<img src="{% static 'blog/img/service/dental_bridge/fogaszati-hidak-fogaszati-hidak_1.jpg' %}" alt="Слепок зубов">

	</div>

</div>

<br>
{% include "sections/button-center.html" %}
	<br>
<div class="row">
    <div class="col-lg-4">
        <img class="float-left" src="{% static 'blog/img/service/dental_bridge/-fogaszati-hidak-dentist-examining-female-patient-teeth-2.jpg' %}" alt="Открытый рот пациента">
    </div>
    <div class="col-lg-8">

                <h3>Почему нужно 8 имплантов?</h3>
    <p>
        При фиксации фиксированного моста на 8 имплантах можно закрепить мост, состоящий из 12-14 зубов, который обеспечивает наиболее естественное и стабильное ощущение. В то время как в случае решения All-on-4, когда используется всего 4 импланта, можно установить лишь 10 зубов. Этот метод применяют, когда в области задних зубов нет достаточного количества костной ткани для установки имплантов и её невозможно восстановить.
    </p>
    <p>
        Фиксация фиксированного моста на 6 имплантах также является полностью допустимым и распространенным решением. Однако стоит отметить, что на задние импланты приходится гораздо большая нагрузка, так как на коренные зубы приходится основное жевательное давление. Если использовать только 6 имплантов, передние зубы будут поддерживаться четырьмя имплантами, а задние — лишь двумя. Поэтому установка 8 имплантов обеспечивает более комфортное и стабильное решение на длительный срок, особенно для верхней челюсти.
    </p>
    <p>
        Количество имплантов, которые будут установлены, зависит от размера и формы зубного ряда, качества кости и типа протеза на противоположной челюсти.
    </p>
    <p>
        Хотите позаботиться о своей улыбке? Приходите к нам на консультацию, и мы подберем для вас лучшее решение!
    </p>
        <br>
    </div>
</div>

<div class="col-12">
       <h3>Как проходит имплантация зубов?</h3>
<p>
    Поскольку цель состоит в том, чтобы создать естественно выглядящий и функционирующий зуб или зубной ряд, сначала необходимо спланировать положение имплантов, которые будут установлены.
</p>
        <h4>1. Первый шаг: Консультация и планирование</h4>
<p>
Во время личной консультации вы познакомитесь с вашим врачом, который составит для вас индивидуальный, точный план лечения. На основе рентгеновского снимка, проведенного осмотра и ваших пожеланий врач составит подробный, индивидуальный план лечения. Для тщательного планирования имплантации в каждом случае необходимо провести и проанализировать 3D CBCT (конусно-лучевую компьютерную томографию).
План лечения включает в себя этапы протезирования, подробные затраты, интервалы времени на восстановление между необходимыми посещениями, а также рекомендации по выбору импланта и его расположению.
</p>
        <br>
<h4>2. Второй шаг: Установка имплантов</h4>
<p>
    Установка имплантов в челюсть проходит безболезненно; возможно проведение процедуры под местной анестезией или, при необходимости, под наркозом. После хирургического вмешательства пациент должен следовать рекомендациям и инструкциям врача, чтобы дождаться окончания периода заживления, необходимого для остеоинтеграции (приживление импланта) и восстановления костной ткани.
</p>
<p>
    Если для установки зубного импланта недостаточно костной ткани, проводится процедура костной пластики для замещения отсутствующей кости. Это может быть сделано одновременно с имплантацией, но если требуется значительное восстановление костной ткани, то сначала проводится отдельная хирургическая операция.
</p>
        <br>
        <h4>3. Третий шаг: Изготовление постоянного зубного протеза</h4>
<p>
    Во время 4-6-месячного периода заживления после имплантации имплант срастается с челюстной костью. В это время также важно соблюдать идеальную гигиену полости рта, строго следуя рекомендациям врача.
</p>
<p>
    После завершения периода заживления на импланты устанавливается постоянный зубной протез, который может быть изготовлен из металлокерамики, циркониевой керамики или монолитного циркония.
</p>
<p>
    На личной консультации будет составлен план лечения, который определит наилучшее решение для вас. Если возможно, наш специалист предложит несколько альтернатив в зависимости от ваших личных потребностей и предпочтений.
</p>
        <p>
            Планирование имплантации зубов
        </p>
    <br>
</div>

<div class="row">
    <div class="col-lg-8">
        <h2>Знаете ли вы?</h2>
        <p>
            При имплантации зубов регулярные стоматологические осмотры еще более важны, чем при других стоматологических процедурах!
        </p>
        <p>
            Игнорирование регулярных стоматологических осмотров связано с высоким риском того, что любые инфекции десен, надкостницы или потеря кости вокруг импланта могут быть обнаружены слишком поздно.
        </p>
        <p>
            Именно поэтому мы настоятельно рекомендуем проходить осмотр стоматолога хотя бы один раз в год.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="float-left" src="{% static 'blog/img/service/tooth-extraction/pro_3.jpg' %}" alt="Открытый рот пациента">
    </div>
</div>
           <br>
{% include "sections/button-center.html" %}
</div>




						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}