 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Зубной мост: <br>самое быстрое решение проблемы отсутствия зубов</h2>
<p><strong>
	Вы страдаете от отсутствия зубов и хотели бы быстро заменить отсутствующие зубы? Зубные мосты – решение!
</strong>
Мостовидный протез рекомендуется использовать для замены одного или нескольких  зубов с целью устранения эстетических проблем, вызванных отсутствием, и восстановления функции жевания и речи.
Мост состоит из коронки, приклеенной к абатменту, который может находиться на естественном зубе или на имплантате. А недостаток восполняют искусственные зубы, это так называемое мостовидное тело.

</p>
        <h3>К счастью, сейчас есть несколько решений для замены утраченных или удаленных зубов:</h3>
<ul class="list">
    <li><i class="fa fa-check fa-2x"></i> Зубной мост (и его опорная стойка, <strong>зубная коронка</strong>)</li>
    <li><i class="fa fa-check fa-2x"></i> <strong>Частичный</strong> или <strong>полный съемный протез</strong>.</li>
    <li><i class="fa fa-check fa-2x"></i> <strong>Зубные имплантаты</strong>.</li>
</ul>
<p>
	Чтобы наш стоматолог мог определить, какой вариант будет наиболее подходящим для вас, обязательно потребуется консультация, сочетающаяся с оценкой состояния.
</p>
	</div>

	<div class="col-lg-4">

			<img src="{% static 'blog/img/service/dental_bridge/fogaszati-hidak-fogaszati-hidak_1.jpg' %}" alt="Слепок зубов">

	</div>

</div>

<br>
{% include "sections/button-center.html" %}
	<br>
<div class="row">
		<div class="col-lg-4">

			<img class="float-left" src="{% static 'blog/img/service/dental_bridge/-fogaszati-hidak-dentist-examining-female-patient-teeth-2.jpg' %}" alt="Открытый рот пациента">

	</div>
	<div class="col-lg-8">

			<h3>Почему важно устранить нехватку зубов?</h3>
<p><strong>Из-за нехватки зубов могут возникнуть следующие проблемы:</strong></p> <br>
			<ul class="list">
				<li><i class="fa fa-check fa-2x"></i> Костная ткань под отсутствующей областью может начать атрофироваться и ослабевать.</li>
				<li><i class="fa fa-check fa-2x"></i> Область без защиты может легче воспаляться.</li>
				<li><i class="fa fa-check fa-2x"></i> Зубы рядом с пустым местом могут наклоняться в сторону отсутствующего зуба.</li>
				<li><i class="fa fa-check fa-2x"></i> Десна в этом участке может стать более уязвимой.</li>
				<li><i class="fa fa-check fa-2x"></i> Эффективность жевания снижается.</li>
				<li><i class="fa fa-check fa-2x"></i> Может возникнуть одностороннее жевание, что создает нагрузку на височно-нижнечелюстной сустав.</li>
			</ul>
			<br>

	</div>
</div>

{% include "sections/button-center.html" %}
						<br>
<div class="row">
<div class="col-12">
	<img src="{% static 'blog/img/service/dental_bridge/hidak-dental-bridge-3.jpg' %}" alt="Виды мостов">
</div></div>
						<br>

<div class="row">
<div class="col-12  ol_article">
			<h3>Виды мостов</h3>
<p>
    В зависимости от конструкции моста различают мосты, опирающиеся на соседние зубы, и мосты, устанавливаемые на импланты.
</p>
<p>
	В первом случае нехватка зубов решается с помощью зубных мостов, которые опираются на окружающие зубы. Однако, чтобы зубной мост можно было изготовить на соседние зубы, они должны быть полностью здоровыми, целыми и стабильными, чтобы их можно было использовать в качестве опорных элементов.
</p>
<p>
	Мост, установленный на собственные зубы, является быстрым решением и обеспечивает идеальный эстетический эффект. Поверхность зубов, которые будут опорными, должна быть обработана перед установкой, что не угрожает их здоровью.
</p>
<p>
	Если это решение невозможно, наши специалисты предложат вам другой вариант.
</p>
	<br>
	<h3>Зубной мост</h3>
<p>
Благодаря современным стоматологическим технологиям зубные мосты теперь также можно легко устанавливать на импланты. Одним из главных преимуществ мостов, опирающихся на импланты, является то, что они могут надежно восстановить несколько отсутствующих зубов при оптимальном количестве имплантов. Эта процедура является идеальным решением даже в случае полной нехватки зубов с использованием так называемого фиксированного моста.
</p>
<p>
	В случае мостов, опирающихся на импланты, нет необходимости в обтачивании здоровых зубов рядом с пустым местом, и они обеспечивают более стабильное решение, которое может служить без проблем на протяжении десятилетий. Кроме того, нагрузка на костную ткань в области отсутствующих зубов будет равномерной, что помогает избежать ее атрофии и ослабления.
</p>
</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<div class="department-left">
<p>
    <strong>
    Вечный вопрос — что выбрать: металлическую керамическую коронку, безметалловую циркониевую керамику или, возможно, прессованную керамику?
    </strong>
</p>
 <p>
     Металлокерамические коронки все чаще выбираются только для задней, жевательной зоны, где их прочность и отличное соотношение цены и качества делают их особенно рекомендуемыми.
 </p>
<p>
    Еще одно различие заключается в том, что у металлических каркасных коронок может появляться серый ободок на шейке зуба и краю десны, в то время как циркониевые керамические коронки этого недостатка лишены. Из-за эстетических различий мы в первую очередь рекомендуем циркониевые керамические коронки для заметной передней зоны, а для восстановления одиночных коронок — прессованные керамические коронки, обладающие еще более выдающимися эстетическими показателями.
</p>
		</div>
	<br>

	</div>

	<div class="col-lg-4">
		<div class="department-right">
			<img src="{% static 'blog/img/service/dental_bridge/fogaszati-hidak-implantatumra-epulo-hidak-4.jpg' %}" alt="Мосты на имплантатах ">
		</div>
	</div>
</div>
						<br>
						{% include "sections/button-center.html" %}
						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}