 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

				<h2>{{ title }}</h2>

			<h3>Лучшие решения с наилучшим соотношением цены и качества при полной адентии</h3>
<p>
    Важно проверить количество и качество кости перед началом процедуры имплантации зубов . Чтобы убедиться, что имплантаты зубов работают эффективно в долгосрочной перспективе, стабильная основа, т. е. адекватная кость, является абсолютной необходимостью.
</p>
<p>
    Любой, кто хотел бы иметь зубной имплантат, должен избегать слишком долгого откладывания процедуры. Если отсутствующие зубы не лечить в течение длительного периода, и десны, и кость со временем начнут атрофироваться. После того, как костная масса исчезнет, ​​костная пластика станет необходимой частью зубного имплантата .
</p>
<p>
    В процессе костной пластики пациент не чувствует никакой боли. В большинстве случаев процедура может проводиться под местной анестезией или общим наркозом.
</p>
<p>
    Существуют различные типы костных трансплантатов для дентальных имплантатов:
</p>
			<ul class="list">
				<li><i class="fa fa-check fa-2x"></i> поднятие верхнечелюстной пазухи (синус-лифтинг)</li>
				<li><i class="fa fa-check fa-2x"></i> увеличение ширины альвеолярного отростка (горизонтальная аугментация)</li>
				<li><i class="fa fa-check fa-2x"></i> челюстная кость приподнята (вертикальное увеличение)</li>
				<li><i class="fa fa-check fa-2x"></i> и наряду с этим часто проводятся операции по восстановлению слизистой оболочки.</li>

			</ul>
	</div>

	<div class="col-lg-4">
		<img src="{% static 'blog/img/service/tooth-extraction/dental-bone-graft_jpg.jpg' %}" alt="Слепок зубов">
	</div>

</div>

<br>
{% include "sections/button-center.html" %}
	<br>
<div class="row">
		<div class="col-lg-4">

			<img class="float-left" src="{% static 'blog/img/service/tooth-extraction/dental-bone-graft_2_jpg.jpg' %}" alt="Открытый рот пациента">

	</div>
	<div class="col-lg-8">

			<h2>Материалы для костной пластики</h2>
<h3>Синтетический заменитель костной ткани</h3>
<p>
    Синтетический заменитель кости изготовлен из синтетического аллопластического материала, содержащего в основном гидроксиапатит. Он полностью биосовместим, поскольку является естественным компонентом зубной ткани.
</p>
        <br>
<h3>Натуральный заменитель костей</h3>
<p>
    Натуральный заменитель кости — это стерилизованная животная ткань, обогащенная соответствующими минералами. Благодаря так называемой «направленной регенерации тканей» организм человека идентифицирует замену как естественную костную ткань. Благодаря добавленным ингредиентам материал запечатывается в костной ткани пациента и начинает расти в зазоре, пока, наконец, не заполнит его полностью. Заменитель кости сливается с окружающей областью и становится частью тела через 6-8 месяцев.
</p>
	</div>
</div>
						<br>
<div class="row">

	<div class="col-lg-8">

				<h2>Процесс костной пластики</h2>
	<p><strong>Во время процедуры костной пластики мы восстанавливаем костный материал, когда его количества и качества недостаточно для проведения дентальной имплантации.</strong></p>
	<p><strong>В процессе замены костной ткани мы можем использовать биоматериалы или брать кость из другой области рта.</strong></p>
	<p>
		<strong>1.</strong> В большинстве случаев для костной пластики используют гранулы. Этот метод очень успешен, так как эти заменители стимулируют и способствуют образованию новой костной ткани в этой области. При герметизации этих областей гранулами мы также покрываем коллагеновыми мембранами и оставляем область заживать.
	</p>
	<p>
		<strong>2.</strong> Костная пластика также возможна путем пересадки собственной костной ткани. В этом случае из заданного участка челюстной кости возьмут необходимый размер кости. Трансплантат будет удерживаться на месте титановыми винтами и покрываться специальными мембранами – их выбор варьируется. Замена кости выполняется в стерильных условиях и может проводиться как под местной анестезией, так и под сознательной седацией. Время восстановления составляет в среднем 3-6 месяцев. Метод процедуры костной пластики (например, латеральная аугментация, синус-лифтинг) планируется индивидуально, так как он основан на оценке конкретного случая и предоперационных конусно-лучевых КТ-сканирований.
	</p>
	</div>
		<div class="col-lg-4">
			<img class="float-left" src="{% static 'blog/img/service/tooth-extraction/dental-bone-graft_3_jpg.jpg' %}" alt="Открытый рот пациента">
		</div>
</div>
						<br>
<div class="row">
	<div class="col-lg-12">
<h2 class="text-center">У вас есть еще вопросы? <br> Запишитесь к нам на консультацию, и мы найдем для вас лучшее решение!</h2>
	</div>
</div>
						<br>
{% include "sections/button-center.html" %}


						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}