 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>{{ super_title }}</h2>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
						<li><a href="{% url 'korona' %}">Коронки</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Когда рекомендуется использовать прессованную керамическую коронку? </h2>
		<h3>Цифровой дизайн, гарантированный успех!</h3>
<p>
	Когда протез должен соответствовать высоким эстетическим требованиям, мы чаще всего рекомендуем нашим пациентам коронку из прессованной керамики E.max в передней области.
	Прессованная керамика на основе дисиликата лития в настоящее время является самым современным и красивым решением для эстетической реабилитации.
</p>
<p>
	Прессованная керамика — это безметаллический протез, который полностью биосовместим и не вызывает аллергии.
	С помощью коронок E.max можно решить множество эстетических проблем, будь то форма или цвет зуба.
</p>
<p>
	Этот вид керамики прессуется под высоким давлением во время обжига.
	Прессованную керамику также можно изготовить для зуба лечением корневых каналов, поскольку она в определенной степени скрывает обесцвеченный стержень, а благодаря высокому содержанию стекловолокна обладает эстетическим внешним видом. В традиционных коронках и мостах металлический каркас препятствует прохождению света.
	Прессованная керамика полностью соответствует цвету зуба, и его светопропускающая способность сохраняется в полном объеме.
</p>

	</div>

	<div class="col-lg-4">

			<img class="rounded" src="{% static '/blog/img/service/corona/cirkonium-korona-teeth-whitening_1.jpg' %}" alt="Подбор цвета коронки">

	</div>
</div>

	<br>
{% include "sections/button-center.html" %}
<br>
<div class="row">
		<div class="col-lg-4">

			<img class="float-left" src="{% static '/blog/img/consult/fogaszati-konzultacio-dentist-examining-female-patient-with-tools-2.jpg' %}" alt="Открытый рот пациента">

	</div>
	<div class="col-lg-8">

			<h3>Каковы преимущества прессованной керамической коронки?</h3>
<p>Преимущества прессованной керамической коронки:</p>
			<ul class="list">
				<li><i class="fa fa-check fa-2x"></i> Может применяться даже при наличии аллергии к различным металлам.</li>
				<li><i class="fa fa-check fa-2x"></i> Прозрачность коронок поразительно схожа с естественными зубами.</li>
				<li><i class="fa fa-check fa-2x"></i> Отсутствует металлическая сероватая линия на краю коронки, у линии десны.</li>
				<li><i class="fa fa-check fa-2x"></i> Полностью керамическая.</li>
				<li><i class="fa fa-check fa-2x"></i> Подходит для заметной коррекции эстетических недостатков передних зубов.</li>
				<li><i class="fa fa-check fa-2x"></i> Требует гораздо меньшего количества зубной ткани для обтачивания по сравнению с традиционной металлокерамической коронкой.</li>
			</ul>
			<br>

	</div>
</div>

{% include "sections/button-center.html" %}
						<br>
<div class="row">
	<div class="col-lg-8">
		<div class="department-left">
			<h3>Консультация с врачом и оценка состояния</h3>
<p>КВо время консультации и оценки состояния с вашим стоматологом будут учтены все аспекты, и мы предложим вам наиболее подходящее решение.
	Если прессованная керамическая коронка является оптимальным вариантом, ваше коммерческое предложение и план лечения будут включать также расписание процедуры.
</p>
			<h3>Этапы лечения</h3>
<p>
	Этапы лечения следующие (процедура короче, чем при металл-керамической или циркониевой коронке): подготовка зуба(ов),
	снятие слепка, затем сразу же примерка без глазури и окончательная фиксация.
</p>
			<h3>E.max фасет или E.max коронка, в чем разница?</h3>
<p>
	Технология одинакова, разница заключается в степени подготовки.
	Прессованная керамическая фасета наносится на переднюю поверхность зуба, поэтому мы минимально обтачиваем внешнюю поверхность,
	тогда как при коронке покрывается вся поверхность зуба.
</p>
<p>
	На нижние зубы фасеты не всегда рекомендуются, с одной стороны, из-за силы прикуса, с другой — потому что они легче могут отклеиться с меньшей поверхности зуба;
	в таких случаях коронка является более идеальным выбором. Часто мы используем коронки и для зубов с пломбами, поскольку коронка является более подходящей
	и стабильной конструкцией для таких зубов.
</p>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="department-right">
			<img src="{% static '/blog/img/consult/fogaszati-konzultacio-little-boy-patient-dentist-3.jpg' %}" alt="#">
		</div>
	</div>
</div>
						<!--/ End Inner -->
					</div>
				</div>
			</div>
	<br>
{% include "sections/button-center.html" %}
		</section>
		<!--/ End  Page -->


{% endblock content %}