 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Страдаете от нехватки зубов и хотите восполнить их наилучшим образом?</h2>
<p>
    Существуют различные типы съемных зубных протезов. Чтобы наш стоматолог смог определить, какой из вариантов будет для вас наиболее подходящим, обязательно потребуется консультация с обследованием состояния.
</p>
<p>
В ходе этой консультации необходимо рассмотреть такие факторы, как: как долго у вас отсутствуют зубы, сколько зубов не хватает, есть ли у вас какие-либо протезы и в каком состоянии находится костная ткань.
</p>
<p>
    Протезы, фиксируемые на имплантатах, обычно рекомендуются, если атрофия челюстной кости продвинулась достаточно далеко и применение полностью фиксированного мостовидного протеза ограничено или невозможно без дополнительных костнопластических операций.
</p>
<p>
    Чаще всего необходимость в стабилизированном протезе с имплантатами возникает при лечении нижней челюсти. Среди решений с протезами это обеспечивает наибольшую стабильность, так как фиксируется на имплантатах, размещенных в челюсти, с помощью специальных замков.
</p>
        <br>
        <h3>Каковы преимущества съемных протезов, фиксируемых на имплантатах?</h3>
<ul class="list">
    <li><i class="fa fa-check fa-2x"></i> Не требуется использование фиксирующих средств для протезов.</li>
    <li><i class="fa fa-check fa-2x"></i> Очень легко чистить.</li>
    <li><i class="fa fa-check fa-2x"></i> Хорошо восстанавливает стабильную жевательную функцию.</li>
  <li><i class="fa fa-check fa-2x"></i> При необходимости можно восполнить потерянный участок десны с помощью искусственной десны.</li>
  <li><i class="fa fa-check fa-2x"></i> Достижима эстетически привлекательная решение.</li>
  <li><i class="fa fa-check fa-2x"></i> Долговечное решение.</li>
  <li><i class="fa fa-check fa-2x"></i> Обычно не требуется костнопластика.</li>
    <li><i class="fa fa-check fa-2x"></i> В случае повреждения протез легко ремонтируется.</li>
    <li><i class="fa fa-check fa-2x"></i> Может носиться 24 часа в сутки.</li>
    <li><i class="fa fa-check fa-2x"></i> Экономичное решение.</li>
<!--    <li><i class="fa fa-check fa-2x"></i> </li>-->

</ul>

	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/dentar/dentar_1jpg.jpg' %}" alt="Мужчина улыбается гдядя в зеркало на свои зубы">
	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/dentar/dentar_3jpg.jpg' %}" alt="Съемный протез зубов">
	</div>
<div class="col-lg-8">
    <h3>Процесс изготовления съемных протезов</h3>
<p>1. <strong>Полная стоматологическая оценка и консультация</strong></p>
<p>
    Сначала проводится консультация, на которой после рентгена/КТ-исследования наш стоматолог и/или челюстно-лицевой хирург осматривают зубы пациента и предлагают план лечения. После согласования и окончательного утверждения плана начинается само лечение.
</p>
<p><strong>2. Снятие слепка</strong></p>
<p>
Мы снимаем слепок челюсти пациента с помощью специального материала, и, учитывая пожелания пациента, выбирается наиболее подходящий цвет зубов. Слепок отправляется в нашу внутреннюю цифровую зуботехническую лабораторию, где наши зубные техники с помощью современного оборудования в течение нескольких дней изготовят искусственные зубы.
</p>
<p><strong>3. Примерка и корректировки</strong></p>
<p>
Как только зуботехническая лаборатория завершит индивидуальный протез, пациента вызывают на примерку. В ходе этого стоматолог проверяет, точно ли подходит планируемый протез в полости рта, полностью ли он удобен, а также достигается ли желаемый эстетический результат.
</p>
<p><strong>4. Сдача</strong></p>
<p>
После всех необходимых корректировок стоматолог фиксирует и передает пациенту съемный протез. После этого пациент может наслаждаться своим новым, эстетичным и удобным протезом!
</p>
</div>

</div>

						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}