 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Когда вместо пломбы используются вкладки (инлей, онлей)??</h2>
<p>
    Вкладка изготавливается в тех случаях, когда значительная часть коронки зуба отсутствует, и ее уже нельзя восстановить с помощью пломбы, или если контактная точка между зубами не может быть создана пломбировочным материалом из-за большого объема утраченной ткани зуба. Кроме того, вкладки применяются при лечении корневых каналов для окончательного восстановления зуба после пломбирования корня.
</p>
<p>
    Вкладка (инлей, онлей) — это, по сути, прочный материал, приклеиваемый в зуб в готовом виде. Он изготавливается зубным техником в лаборатории на основе индивидуального слепка пациента. Вкладки могут быть изготовлены из керамики, композита или металла.
</p>
<p>
    Инлей изготавливается, когда можно сохранить вершины зуба и не требуется покрывать всю жевательную поверхность. Также используется, если необходимо покрыть несколько вершин зуба, но хотя бы одна из них остается непокрытой.
</p>
<p>
    Онлей применяется, если вкладка покрывает все вершины жевательного зуба. Если коронковая часть зуба значительно повреждена, может потребоваться изготовление вкладки, охватывающей всю жевательную поверхность, чтобы защитить коронковую часть зуба от перелома. Такой тип восстановления часто выбирается для корневых зубов в качестве окончательного решения.
</p>
        <br>


	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/inlay/inlay_1jpg.jpg' %}" alt="Съемный протез зубов">
	</div>

	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/inlay/inlay_2jpg.jpg' %}" alt="Удивленные люди в возрасте">
	</div>

<div class="col-lg-8">
<br>
<h3>Сколько раз нужно посетить стоматологическую клинику?</h3>
<p>
    Для изготовления вкладок необходимо минимум два визита к стоматологу.
</p>
<p>
    Во время первого визита зуб подготавливают к установке вкладки, удаляя пораженные кариесом участки и формируя полость нужной формы. Затем снимают слепок зубов, на основании которого зубной техник в лаборатории изготавливает вкладку, которая будет идеально прилегать и соответствовать форме зуба.
</p>
<p>
    Чтобы защитить зуб до установки вкладки, егo закрывают временной пломбой.
</p>
<p>
    На втором визите вкладка закрепляется с помощью клея, при необходимости с применением местной анестезии.
</p>
<p>
    После этого может быть назначен контрольный осмотр по желанию пациента.
</p>
</div>

</div>

						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}