 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>{{ super_title }}</h2>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
						<li><a href="{% url 'aesthetic_dentistry' %}">Эстетическая стоматология</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>{{ title }}</h2>
<p>Прессованная керамическая пластинка e.max представляет  собой тонкий слой, который используется для покрытия передней стороны зуба,
	когда мы хотим исправить эстетические недостатки: мы используем эту процедуру для обесцвеченных, слегка неровных или слишком маленьких зубов, небольших щелей.
	Этот материал может наиболее точно имитировать внешний вид натуральной зубной эмали, кроме того, он более устойчив к различным стрессовым воздействиям,
	чем так называемый прямые снаряды.
</p>
<p>
	Разумеется, пресс-керамическая оболочка e.max вписывается в протез, создает абсолютно реалистичный эффект и предлагает быстрое решение
	для скрытия множества эстетических проблем, поскольку, как мы уже упоминали, с ее помощью можно изменить форму, размер, длина и цвет зуба.
</p>
<p>
	Если у нас достаточно зубной эмали, чтобы правильно зафиксировать раковину и нет больших отклонений в положении прикуса, то нет препятствий для изготовления ракушек.
</p>
	</div>
	<div class="col-lg-4">

			<img src="{% static '/blog/img/teeth/press_2.jpg' %}" alt="Врач обследует пациента">

	</div>
</div>

<br>

<div class="row">
		<div class="col-lg-4">

			<img class="float-left" src="{% static '/blog/img/teeth/press_3.jpg' %}" alt="Открытый рот пациента">

	</div>
	<div class="col-lg-8">

			<p><strong>Во многих случаях виниры являются прекрасной заменой функций, выполняемых зубными коронками, а также их установка требует гораздо меньшей подготовки. </strong></p>
<p><strong>Преимущества:</strong></p>
		<br>
			<ul class="list">
				<li><i class="icofont-tick-mark"></i> Идеальная симметрия</li>
				<li><i class="icofont-tick-mark"></i> Естественный эффект</li>
				<li><i class="icofont-tick-mark"></i> Без металла</li>
				<li><i class="icofont-tick-mark"></i> Противоаллергенный</li>
				<li><i class="icofont-tick-mark"></i> Ультра точная посадка</li>
				<li><i class="icofont-tick-mark"></i> Выдающаяся эстетика</li>
				<li><i class="icofont-tick-mark"></i> Долгая жизнь</li>
				<li><i class="icofont-tick-mark"></i> Минимальное вмешательство</li>
				<li><i class="icofont-tick-mark"></i> Безболезненное лечение</li>
			</ul>
			<br>

	</div>
</div>

{% include "sections/button-center.html" %}
						<br>
<div class="row">
	<div class="col-lg-8">
		<div class="department-left">
			<h3>Вы знали? </h3>
<p>
	За относительно короткое время мы можем создать нашим пациентам совершенно новую улыбку с помощью прессованных керамических виниров
	e.max с минимальной потерей зубного материала: для этого требуется всего лишь в среднем полмиллиметра шлифовки с поверхности зуба,
	и винир покрывает не весь зуб, а только ¾, поэтому его заднюю поверхность шлифовать не нужно. С другой стороны,
	для коронки часть всей поверхности зуба должна быть отшлифована, прибл. 1 мм.
</p>
<p>
	Голливудскую улыбку обычно создают с помощью этой техники самые большие звезды, конечно, с дополнительными процедурами и эстетическими коррекциями, если это необходимо.
</p>
<p>
	Вы задаетесь вопросом, может ли прессованная керамическая оболочка e.max стать для вас подходящим решением?
	Проконсультируйтесь с нашим стоматологом, специализирующимся на эстетических решениях!
</p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="department-right">
			<img src="{% static '/blog/img/teeth/press_4.jpg' %}" alt="#">
		</div>
	</div>
</div>
						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}