 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Страдаете от нехватки зубов и хотите восполнить их наиболее подходящим способом?</h2>
<p>
    Существует множество типов съемных протезов. Чтобы наш стоматолог мог определить, какой из них будет для вас наиболее подходящим вариантом, обязательно потребуется консультация с обследованием состояния.
</p>
<p>
 В ходе этого обследования необходимо оценить такие факторы, как: как долго у вас отсутствуют зубы и сколько зубов не хватает, есть ли у вас какие-либо протезы и каково текущее состояние костной ткани.
</p>

        <br>
        <h3>Когда рекомендуется полный съемный пластиночный протез?</h3>
<p>
  Полная съемная зубная протеза — это съемный протез, который рекомендуется в случае полной потери зубов. Этот тип протеза служит не только для замещения зубов, но и для восстановления десен.
</p>
<p>
  Полная съемная зубная протеза изготавливается из специального пластика, но может быть также комбинирована с металлическими элементами. Важно всегда держать протез влажным, чтобы избежать деформации его оригинальной формы, так как этот материал легко сохнет.
</p>
<p>
  Благодаря современным технологиям, протезы хорошо прилегают, не выпадают благодаря вакуумному эффекту, восстанавливают нормальную жевательную функцию и положение челюсти, и являются наиболее экономичным решением.
</p>
      <br>
      <h3>Частичный пластиночный съемный протез</h3>
<h4>Когда рекомендуется частичный пластиночный съемный протез?</h4>
<p>
  Частичную съемную зубную протезу мы в основном рекомендуем в следующих двух случаях. Во-первых, если у пациента остались некоторые собственные зубы, но они недостаточно крепкие для изготовления фиксированного протеза (моста). Причиной слабости зубов могут быть заболевания десен или атрофия кости, из-за чего зубы не смогут удерживать фиксированный протез на длительный срок.
</p>
<p>
  Во-вторых, если недостаточно зубов, но установка зубных имплантатов невозможна, например, из-за нехватки костной ткани. В этом случае мы рассматриваем, решит ли проблему костная пластика, но есть и случаи, когда общее состояние здоровья пациента не позволяет провести вмешательство.
</p>

	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/dentar/stab_implants_1jpg.jpg' %}" alt="Съемный протез зубов">
	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/dentar/stab_implants_2jpg.jpg' %}" alt="Удивленные люди в возрасте">
	</div>
<div class="col-lg-8">
<h4>Чистка съемных зубных протезов</h4>
      <p>Регулярная чистка зубных протезов не менее важна, чем чистка собственных зубов:</p>
<ul class="list">
    <li><i class="fa fa-check fa-2x"></i> эстетический вид сохраняется в долгосрочной перспективе</li>
    <li><i class="fa fa-check fa-2x"></i> бактерии и грибы, вредящие протезу, удаляются своевременно</li>
    <li><i class="fa fa-check fa-2x"></i> поддерживается здоровье десен</li>
  <li><i class="fa fa-check fa-2x"></i> обеспечивается надлежащая гигиена полости рта</li>
  <li><i class="fa fa-check fa-2x"></i> обеспечивается свежесть дыхания</li>
</ul>
<p>
  В общем, необходимо снимать и очищать съемный протез после каждого приема пищи с помощью специальной щетки. Кроме того, требуется химическая дезинфекция 1-2 раза в неделю с использованием таблеток для очистки протезов.
</p>
<p>
  Конечно, в нашей клинике мы предоставим вам всю необходимую информацию о том, как использовать соответствующие инструменты и как правильно чистить протезы.
</p>
</div>

</div>

						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}