
<!---->
 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>{{ super_title }}</h2>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
						<li><a href="{% url 'aesthetic_dentistry' %}">Эстетическая стоматология</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">
<h2>{{ title }}</h2>
	<p>
		По рекомендациям стоматологов и стоматологов-гигиенистов, к образованию зубного камня могут быть склонны те,
		кто по каким-либо причинам более склонен к образованию зубного камня – это может быть связано с рядом причин, таких как генетика,
		пренебрежение уходом за полостью рта, курение, неправильное питание, диабет, беременность – могут необходимо снимать отложения
		каждые 3 месяца. У других – в подавляющем большинстве случаев – это время может варьироваться в пределах 6–12 месяцев .
	</p>
	<p>
		Тем, кто лишь минимально склонен к образованию зубного камня, достаточно посещать специалиста раз в один-два года.
		Мы следим за состоянием наших зубов, и как только замечаем образование зубного камня, принимаем необходимые меры,
		чтобы сохранить целостность зубов как можно дольше.
		Регулярное удаление зубного камня, как и чистка зубов, является основополагающим элементом здоровой гигиены полости рта,
		поскольку образование зубного камня не только вызывает эстетические проблемы, но и может привести к ряду более серьезных проблем.
	</p>
	<p>
		Регулярная гигиеническая обработка зубов и удаление зубного камня позволяют предотвратить или устранить следующие стоматологические заболевания:
	</p>
		<br>
	<ul>
	<li><i class="icofont-tick-mark"></i>Гингивит</li>
	<li><i class="icofont-tick-mark"></i>Кариес</li>
	<li><i class="icofont-tick-mark"></i>Изменение цвета наших зубов</li>
	<li><i class="icofont-tick-mark"></i>Неприятный запах изо рта</li>
	<li><i class="icofont-tick-mark"></i>Расшатывание и потеря зубов</li>
	<li><i class="icofont-tick-mark"></i>Кровоточивость десен</li>
	<li><i class="icofont-tick-mark"></i>Вред нашим здоровым зубам</li>
	<li><i class="icofont-tick-mark"></i>Заболевания пародонта</li>
	</ul>
	</div>
		<div class="col-lg-4">
			<img class="rounded" src="{% static '/blog/img/teeth/tartar_1.jpg' %}" alt="Зубной камень">
		</div>

</div>

<br>

<div class="row">
	<div class="col-lg-12">
	<h3>Как у нас проходит профессиональное удаление зубного камня?</h3>
	<p>
		При удалении зубного камня в кабинете мы используем ультразвуковой депуратор.
		Это обеспечивает удаление зубного камня щадящим, но эффективным способом.
		Далее следует полировка, благодаря которой поверхность зубов становится менее царапанной, а налету труднее прилипать к ней.
	</p>
	<p>
		При необходимости мы также проводим полировку солью, с помощью которой обесцвеченные зубы могут вернуть себе белизну без химического воздействия.
		Об отбеливании химическими веществами здесь не может быть и речи, речь идет просто о бережном удалении отложившегося красящего вещества.
	</p>
	<p>
		Конечно, чтобы сохранить результат, нельзя игнорировать вопрос чистки зубов в нужном качестве и количестве,
		так как это позволит удалить налет с зубов и предотвратить будущие проблемы с зубами.
	</p>
			<br>

	</div>
</div>

{% include "sections/button-center.html" %}
						<br>
<div class="row">
	<div class="col-lg-8">
		<div class="department-left">
	<p>
		Рекомендуем всем, кто хочет иметь здоровые зубы:
	</p>
	<ul>
	<li><i class="icofont-tick-mark"></i>Быстро, эффективно</li>
	<li><i class="icofont-tick-mark"></i>Безболезненно</li>
	<li><i class="icofont-tick-mark"></i>Впечатляющие результаты, белые зубы</li>
	<li><i class="icofont-tick-mark"></i>Чувствую себя лучше</li>
	<li><i class="icofont-tick-mark"></i>Глоток свежего воздуха</li>
	</ul>
<h3>Вы знали?</h3>
		<p>
			Часто случается, что люди неправильно держат зубную щетку во время чистки или используют не ту насадку.
			Через некоторое время это приводит к чувствительности и изнашиванию шейки зуба и краев десен.
		</p>
		<p>
			Чтобы этого избежать, в конце лечения наш стоматолог-гигиенист расскажет Вам о правильных техниках ухода за зубами и, при необходимости, покажет Вам,
			как эффективно пользоваться зубной щеткой, зубной нитью и жидкостью для полоскания рта.
		</p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="department-right">
			<img class="rounded"  src="{% static '/blog/img/teeth/tartar_2.jpg' %}" alt="#">
		</div>
	</div>
</div>
						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}