 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Когда необходима эндодонтическая терапия (лечение корневых каналов)?</h2>
<p>Во многих случаях удаление зуба можно избежать, а лечение корневых каналов способно продлить срок службы зуба на долгие годы. Эндодонтическое лечение может быть отличным способом сохранить зуб в следующих случаях:
</p>
	<ul>
	<li><i class="icofont-tick-mark"></i> при давящей, пульсирующей или не прекращающейся зубной боли;</li>
	<li><i class="icofont-tick-mark"></i> при опухоли лица, которая может быть признаком воспаления в области верхушки корня;</li>
	<li><i class="icofont-tick-mark"></i> при обширном и глубоком кариесе, затрагивающем пульпу зуба;</li>
	<li><i class="icofont-tick-mark"></i> если ранее леченный корневой канал начинает вызывать симптомы.</li>
	</ul>
<p>
В случаях, когда пульпа зуба воспаляется, пораженную часть необходимо удалить. Конечно, бывают ситуации, когда воспаление не поддается лечению, и удаление зуба остается единственным решением, но в большинстве случаев есть хорошие шансы на спасение зуба.
</p>
	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/root_canal/root_canal_2jpg.jpg' %}" alt="Съемный протез зубов">
	</div>

	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/root_canal/root_canal_3jpg.jpg' %}" alt="Удивленные люди в возрасте">
	</div>

<div class="col-lg-8">
<br>
<h3>Как проходит лечение корневых каналов?</h3>
<p>
    В отличие от старых мифов, лечение корневых каналов в большинстве случаев можно выполнить совершенно безболезненно.
</p>
<p>
    <strong>Процесс лечения корневых каналов:</strong> Перед началом процедуры зуб обезболивают. Первым шагом в лечении корневых каналов является удаление поврежденных, инфицированных участков зубной ткани и создание в зубе полости, которая обеспечит доступ к корневым каналам. Затем удаляют воспаленную пульпу (нерв) и инфицированные ткани из корневых каналов, при этом каналы также подвергаются химической дезинфекции.
</p>
<p>
    После дезинфекции корневых каналов изготавливается их окончательное закрытие, то есть пломбировка корневых каналов. Пломбировка контролируется с помощью рентгенографического снимка. После завершения пломбировки зуба изготавливается окончательное закрытие коронки зуба в виде пломбы, вкладки или коронки.
</p>
</div>

</div>

						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}