 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Мы спасем ваши больные зубы! Выберите эстетичное и долговечное решение!</h2>
<p>
Пломбирование зубов считается рутинной процедурой и является одним из самых распространенных методов сохранения зубов. Пломбы изготавливаются из композитных материалов, которые стоматолог помещает в подготовленное отверстие зуба в форме, пригодной для дальнейшей обработки и затвердевания.
</p>
<p>
  Металлические амальгамные пломбы, использовавшиеся несколько лет назад, сейчас заменяются эстетическими композитными материалами.
</p>
        <br>
        <h3>Преимущества эстетических композитных пломб:</h3>
<ul class="list">
    <li><i class="fa fa-check fa-2x"></i> Отличная адгезия: композитные материалы химически связываются с поверхностью зуба.</li>
    <li><i class="fa fa-check fa-2x"></i> Могут использоваться не только для восстановления поврежденных от кариеса, но и для восстановления сломанных или изношенных зубов.</li>
    <li><i class="fa fa-check fa-2x"></i> Не вызывают аллергии.</li>
  <li><i class="fa fa-check fa-2x"></i> Цвет можно подобрать под любой оттенок зуба.</li>
  <li><i class="fa fa-check fa-2x"></i> Устойчивы к износу.</li>
  <li><i class="fa fa-check fa-2x"></i> Точно подходят к оставшейся части зуба.</li>
  <li><i class="fa fa-check fa-2x"></i> Срок службы в несколько раз превышает срок службы традиционных пломб.</li>

</ul>
<p>
	<strong>Цены на пломбирование:</strong> Цена на пломбирование зависит от обрабатываемой поверхности и объема пломбирования. Ознакомиться с нашими ориентировочными ценами вы можете здесь.
</p>
	</div>

	<div class="col-lg-4">

			<img src="{% static 'blog/img/service/corona/cirkonium-korona-dentistry-dental-crowns-zirconia-zirconium-crown-turkey-4.jpg' %}" alt="Слепок зубов">

	</div>

</div>

<br>
{% include "sections/button-center.html" %}
	<br>
<div class="row">
		<div class="col-lg-4">

			<img class="float-left" src="{% static 'blog/img/service/tomes-fog-felepitese-5.jpg' %}" alt="Зуб в разрезе">

	</div>
	<div class="col-lg-8">

			<h3>Образование кариеса зубов</h3>
<p>
  Наиболее частой причиной появления дырок в зубах является кариес. Суть процесса заключается в том, что минеральные вещества, содержащиеся в зубной эмали и дентине, растворяются. В результате зубная ткань ослабляется, размягчается и образуется полость.
</p>
<p>
  Хорошая новость заключается в том, что поддерживая надлежащую гигиену полости рта, а именно, регулярную, тщательную и профессиональную чистку зубов, можно значительно снизить вероятность возникновения кариеса. Регулярная проверка состояния зубов, как минимум раз в год, на стоматологических обследованиях также способствует профилактике кариеса.
</p>
      <br>
      <h3>Можно ли обратить процесс кариеса?</h3>
<p>
  Конечно, это возможно только в случае своевременно выявленного, начального этапа кариеса – в остальных случаях остается лишь пломбирование зубов.
</p>
<p>
  Для пломбирования дырок в зубах и лечения пришеечного кариеса используются композитные пломбы, которые доступны в различных оттенках и прочно фиксируются под воздействием света. Эти пломбы идеально подойдут по цвету к вашим собственным зубам, позволяя достичь естественного результата даже на передних зубах. После формирования жевательной поверхности задних зубов обработанные зубы могут использоваться так же, как и в их исходном состоянии.
</p>

	</div>
</div>
						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}