 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

<!-- Service Details -->
<div class="service-details-area section">
    <div class="container">
        <div class="services-details-img">
            <img src="{% static '/blog/img/clinic/Image00014.jpg' %}" alt="#">
            <h2>Our hospital always provide good services</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <blockquote>
                <i class="icofont-quote-left"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint optio rem magni, dolorum aut vel nostrum quae, fugit necessitatibus eius perferendis. Quia optio tenetur pariatur aliquam obcaecati enim quam eum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint optio rem magni, dolorum aut vel nostrum quae, fugit necessitatibus eius perferendis. Quia optio tenetur pariatur aliquam obcaecati enim quam eum?
            </blockquote>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="service-details-inner-left">
                    <img src="{% static '/blog/img/clinic/Image00013.jpg' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="service-details-inner">
                    <h2>Мы всегда заботимся <br> о наших пациентах</h2>
                    <p>
                        С регулярным гигиеническим лечением и удалением зубного камня мы можем предотвратить или устранить следующие стоматологические заболевания
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service Details -->
<section class="blog grid section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row">

                    {% for item in view_list_aesthetic_dentistry %}
                        <!-- Single Blog -->
                    <div class="col-sm col-12">
                        <div class="single-news">
                            <div class="news-head">
                                <img class="service_img" src="{{ item.img_path }}" alt="{{ item.title }}">
                            </div>
                            <div class="news-body">
                                <div class="news-content">
                                    <h2><a href="{% url item.url_name %}">{{ item.title }}</a></h2>
                                    <p class="text">{{ item.decription }}</p>
                                <div class="button article">
                                    <a href="{% url item.url_name %}" class="btn">Подробнее</a>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- End Single Blog -->
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
 {% endblock content %}