 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

<!-- Service Details -->
<div class="service-details-area section">
    <div class="container">
        <div class="services-details-img">
            <img src="{% static '/blog/img/clinic/Image00014.jpg' %}" alt="#">
            <h2>Мы лидируем в борьбе с заболеваниями полости рта.</h2>
            <p>Большинство заболеваний полости рта в значительной степени можно предотвратить и лечить на ранних стадиях.
                Тем не менее, дети, подростки, пожилые люди и люди с ограниченными возможностями остаются самыми большими страдальцами от плохого здоровья полости рта,
                сталкиваясь с самыми значительными препятствиями в доступе к уходу за полостью рта.

                С момента основания мы оказали поддержку и улучшили здоровье полости рта более 20 000 человек, изменив их жизнь к лучшему.</p>
            <blockquote>
                <i class="icofont-quote-left"></i>
                От сломанного зуба до сильного отека и травмы зуба — мы здесь, чтобы помочь.
            </blockquote>

        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="service-details-inner-left">
                    <img src="{% static '/blog/img/clinic/Image00013.jpg' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="service-details-inner">
                    <h2>Мы всегда заботимся <br> о наших пациентах</h2>
                    <p>
                        С регулярным гигиеническим лечением и удалением зубного камня мы можем предотвратить или устранить следующие стоматологические заболевания
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Service Details -->

 {% endblock content %}