 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">
		<div class="department-left serv">
<h2>Как мои зубы могут быть красиво белыми?</h2>
<h3>Ваши зубы изменили цвет и пятна, и из-за этого вы не смеете улыбаться? Мы поможем вам с вашей проблемой!</h3>
<p><strong>Отбеливание зубов</strong> становится все более часто используемой процедурой в эстетической стоматологии.
	Поскольку кофе и красное вино, потребляемые многими людьми, а также никотин, пищевые красители и даже более яркие специи обесцвечивают зубы,
	отбеливание зубов в наши дни стало очень популярным. </p>
<h3>До отбеливания зубов</h3>
<p>Процедуре отбеливания зубов должна предшествовать <strong><a href="#">консультация стоматолога</a></strong> , во время которой мы проводим оценку состояния и определяем цвет зубов для последующего сравнения.
	После консультации следующим этапом является профессиональная чистка зубов и удаление зубного камня перед отбеливанием, чтобы очистить поверхность зубов от отложений.
	Затем вы можете выбрать отбеливание зубов Beyond® в офисе или раствор капы для домашнего отбеливания зубов.</p>
	</div>
	</div>
	<div class="col-lg-4">
		<div class="department-right">
			<img class="img-responsive" src="{% static '/blog/img/teeth/teeth_1.jpg' %}" alt="#">
		</div>
	</div>
</div>


{% include "sections/button-center.html" %}
						<br>
<div class="row pad_div_25px">
		<div class="col-lg-4">
		<div class="department-left">
			<img class="img-responsive" src="{% static '/blog/img/teeth/teeth_2.jpg' %}" alt="#">
		</div>
	</div>
	<div class="col-lg-8">
		<div class="department-rigth">
			<h2>Кабинетное отбеливание зубов Beyond® — новейший и щадящий метод </h2>
<p>
	Технология отбеливания зубов холодным светом Beyond® — это самый современный и эффективный метод в области отбеливания зубов, доступный на сегодняшний день. Он способен очищать не только поверхность зубов, но и их более глубокие слои. Его особенностью является так называемая в его основе лежит система низкотемпературного холодного света, благодаря которой можно избежать повреждения зубов.
</p>
<p>
	Еще одним большим преимуществом отбеливания зубов Beyond® является то, что за 2 процедуры по 20 минут можно очистить обе челюстные кости и добиться улучшения до 6-8 оттенков. Beyond предназначен для одноразового лечения и не имеет побочных эффектов.
</p>
			<br>
		</div>
	</div>
</div>

<div class="row pad_div_25px">
	<div class="col-lg-8">
		<div class="department-left serv">
<h2>Как проходит лечение?</h2>
<h3>Ваши зубы изменили цвет и пятна, и из-за этого вы не смеете улыбаться? Мы поможем вам с вашей проблемой!</h3>
<p><strong>Отбеливание зубов</strong>
	Beyond® начинается с обычной чистки зубов, чтобы убедиться, что поверхность зубов полностью очищена от грязи. Затем, при необходимости, процедуре предшествует удаление зубного камня и полировка. Прежде чем начать отбеливание зубов, ваш стоматолог или стоматолог-гигиенист покроет ваши десны и губы, оставив открытыми только зубы, подлежащие отбеливанию.
</p>
<p>
	Затем на поверхность зубов наносится <strong>отбеливающий гель Beyond®</strong>, который освещается холодным светом.
	Гель оказывает отбеливающее действие на зубы в течение 10 минут, после чего его заменяют.
</p>
<p>
	Изношенный гель заменяется дважды во время отбеливания зубов. Освещение длится в общей сложности 3 х 10 минут, после чего гель полностью удаляется с зубов.
По окончании отбеливания зубов на зубы наносится антисенситивная паста, которую затем можно удалить через несколько минут, и на этом процедура отбеливания зубов завершается, которая с учетом препаратов не занимает более часа.
</p>
<p>
	А пока вам остается только сидеть сложа руки и ждать результата!
</p>
	</div>
	</div>
	<div class="col-lg-4">
		<div class="department-right">
			<img class="img-responsive" src="{% static '/blog/img/teeth/img063.jpg' %}" alt="#">
		</div>
	</div>
</div>

<!-- Левая картинка-->
<div class="row pad_div_25px">
		<div class="col-lg-4">
		<div class="department-left">
			<img class="img-responsive" src="{% static '/blog/img/teeth/teeth_4.jpg' %}" alt="#">
		</div>
	</div>
	<div class="col-lg-8">
		<div class="department-rigth">
			<h2>Безопасна ли процедура? </h2>
				<p>
					ДА! Клинические испытания и исследования доказывают, что отбеливание зубов перекисью водорода является самой безопасной стоматологической
					и эстетической процедурой. Но, как и все процедуры отбеливания зубов, не рекомендуется детям до 18 лет, кормящим и будущим мамам.
				</p>
			<h3>Насколько долговременным будет результат?</h3>
			<p>
				После отбеливания зубов рекомендуются определенные продукты/напитки – шоколад, кофе, чай, кола и другие цветные напитки, фруктовые соки, жевательная резинка, энергетические напитки, помидоры, варенье, темные фрукты, цитрусовые, морковь, свекла, шпинат, соевый соус . Также следует избегать употребления салями, колбасы, кетчупа, паприки, карри, обработанных пищевых продуктов, содержащих красители , и курения в течение 10–14 дней.
			</p>
			<br>
		</div>
	</div>
</div>
						<br>
{% include "sections/button-center.html" %}
<!--	Правая картинка   -->
<div class="row pad_div_25px">
	<div class="col-lg-8">
		<div class="department-left serv">

<h2>Отбеливание зубов в домашних условиях безопасно</h2>

<p>
	<strong>Аналогично, профессиональная чистка зубов </strong>
	рекомендуется во время процедуры кабинетного отбеливания зубов, за несколько дней до домашнего отбеливания зубов , во время которой с зубов удаляются зубной камень и другие изменения цвета и отложения. Таким образом, можно добиться максимальных результатов после отбеливания зубов.
</p>
<p>
	В ходе операции снимают специальный слепок, на основании которого зуботехническая лаборатория изготавливает индивидуальные каппы для отбеливания зубов за 1-2 дня, в зависимости от того, хочет ли пациент отбелить только один или оба ряда зубов. Полный набор для отбеливания зубов можно получить вместе с готовыми каппами.
</p>
<h3>Что входит в комплект для домашнего отбеливания зубов?</h3>
	<ul>
		<li><i class="fa fa-check fa-2x"></i> Индивидуальные каппы для отбеливания зубов, изготовленные по слепку</li>
		<li><i class="fa fa-check fa-2x"></i> Средство для отбеливания зубов</li>
		<li><i class="fa fa-check fa-2x"></i> Инструкция по применению, содержащая все инструкции по отбеливанию зубов.</li>
		<li><i class="fa fa-check fa-2x"></i> Коробка</li>
	</ul>
	<p>
		Конечно, когда вы получите набор в офисе, ваш стоматолог также объяснит процесс отбеливания зубов в домашних условиях. Продолжительность отбеливания индивидуальна в каждом случае, в среднем занимает 10 дней, минимум 3 часа процедуры в день, в зависимости от желаемого результата.
	</p>
	</div>
	</div>
	<div class="col-lg-4">
		<div class="department-right">
			<img class="img-responsive" src="{% static '/blog/img/teeth/teeth_5.jpg' %}" alt="#">
		</div>
	</div>
</div>
<!--	/ Правая картинка   -->
						<!--/ End Inner -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}