 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>Временная коронка, мост или временный съемный протез</h2>
<p><strong>Вы откладываете установку зубных протезов? Вы не хотите жить с неполными зубными протезами, пока не будут готовы постоянные протезы? Решение есть!</strong></p>
<p>
    Подготовка постоянной коронки или моста . Но даже в течение периода заживления в несколько месяцев после дентальной имплантации можно заменить отсутствующие зубы временной коронкой, мостом или съемным протезом. Таким образом, мы гарантируем эстетичный внешний вид пациента на протяжении всего процесса, а также то, что временная реставрация защищает и полированные зубы.
</p>
<p>
    До завершения окончательной реставрации зубов пациент получает временную коронку или мост из пластика . Его цвет подбирается под зубной ряд пациента, и во время процедуры он приклеивается к соседним зубам. Если такой возможности нет, проблему могут решить даже съемным протезом по согласованию с врачом.
</p>
<p>
    В зависимости от лечения временный протез может представлять собой немедленный пластиковый временный протез, изготовленный в кабинете. Кроме того, в течение 2-3 дней может быть предоставлен подготовленный зубным техником несъемный временный протез, а в случае установки зубного имплантата – временный съемный протез на период заживления .
</p>
	</div>

	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/dentar/temporary_1jpg.jpg' %}" alt="Съемный протез зубов">
	</div>

	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/dentar/temporary_2jpg.jpg' %}" alt="Удивленные люди в возрасте">
	</div>
		<br>
<div class="col-lg-8">

<h3>Возвращайтесь к повседневной жизни без проблем!</h3>
<p>
    Установка временной коронки или моста не только возвращает целостность нашей улыбке и защищает полированные поверхности зубов , но и восстанавливает жевательную функцию. Доступный сразу вариант временного протеза разработан не так подробно, как окончательный, но свою задачу в этот переходный период он выполняет прекрасно. Благодаря временному решению мы можем немедленно вернуться к нашей повседневной деятельности , что вовсе не является незначительным аспектом в современном быстро меняющемся мире.
</p>
    <h4>Что произойдет, если временную коронку снимут?</h4>
<p>
Снятие временной коронки не представляет никакой боли , но поскольку фиксирующая часть срезана, ее невозможно отремонтировать или приклеить после снятия. Окончательную коронку можно установить только в том случае, если десны полностью здоровы и имеют правильную форму. В некоторых случаях заживление десен может занять несколько недель, так как есть пациенты, у которых десны заживают трудно.
</p>
<p>
    После снятия временной реставрации стоматолог примеряет окончательную коронку во рту пациента и, если она ему нравится, приклеивается на место. Если цвет или форма не подходят, коррекцию, конечно, все равно можно провести.
</p>
</div>

</div>

						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}