 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>{{ title }}</h2>
<p><strong>Большинство людей обращаются к стоматологу только тогда, когда зубы болят настолько, что обезболивающие и домашние средства уже не помогают. Нужно понимать, что если зуб начал болеть, боль не пройдет сама по себе, а может лишь временно ослабнуть. Поэтому рекомендуется как можно скорее записаться к стоматологу. В крайнем случае решение — удаление зуба.</strong>
</p>
<h3>Почему может потребоваться удаление зубов? Когда необходимо удаление зуба?</h3>
<p>
	Стоматологические проблемы, выявленные на ранней стадии (например, воспаление зуба или корня), во многих случаях можно вылечить. Однако со временем пораженный и воспаленный зуб зачастую уже не удается спасти, и единственным решением остается его удаление.
</p>
<p>Удаление зубов чаще всего необходимо, когда:</p> <br>
	<ul>
	<li><i class="icofont-tick-mark"></i> Они подвергаются значительному воспалению или подвижны.</li>
	<li><i class="icofont-tick-mark"></i> Корень поврежден и не поддается лечению другими методами.</li>
	<li><i class="icofont-tick-mark"></i> Коронка разрушена из-за сильного кариеса, и невозможно провести пломбирование или другие зубосохраняющие процедуры.</li>
	<li><i class="icofont-tick-mark"></i> Лечение корневых каналов тоже не даст результата.</li>
	<li><i class="icofont-tick-mark"></i> В ротовой полости присутствуют зубы, вызывающие эстетические или функциональные проблемы, например, выпирающие или наклоненные зубы..</li>
	</ul>

</div>
	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/tooth-extraction/tooth-extraction_1.jpg' %}" alt="у человека болит зуб">
	</div>
</div>
        <br>
{% include "sections/button-center.html" %}
<!-- end things  -->
<div class="row">
	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/tooth-extraction/tooth-extraction_2.jpg' %}" alt="Доктор осматривает ротовую полость пациента">
	</div>

<div class="col-lg-8">
<br>
<h3>Как проходит удаление зуба?</h3>
<p>
	Перед удалением зуба всегда проводится тщательный консультация стоматолога и рентген. На основе снимка врач решает, потребуется ли простое удаление зуба или хирургическое вмешательство.
</p>
	<p><strong>Совет:</strong> Важно, чтобы пациент поел перед процедурой, так как после введения анестезии нельзя есть до тех пор, пока не пройдет онемение (около 3-4 часов).</p>

	<h3>Простое удаление зуба</h3>
<p>
	Простое удаление зуба проводится под местной анестезией. Сначала врач расшатывает зуб, а затем удаляет его с помощью щипцов. Если удаляется воспаленный зуб, также необходимо удалить воспаленные ткани в области лунки. После этого следует прикусить марлевый тампон на 15 минут.
</p>
</div>
</div>

<div class="row">

<div class="col-lg-8">
<h3>Хирургическое удаление зуба</h3>
<p>
	В некоторых случаях простое удаление зуба невозможно. Это касается ситуаций, когда:
</p> <br>
	<ul>
	<li><i class="icofont-tick-mark"></i> Корни зуба сломаны.</li>
	<li><i class="icofont-tick-mark"></i> Зубы застряли в процессе развития и не прорезались.</li>
	<li><i class="icofont-tick-mark"></i> Рентген показывает сильно изогнутые или разветвленные корни.</li>
	<li><i class="icofont-tick-mark"></i> Лечение корневых каналов тоже не даст результата.</li>
	<li><i class="icofont-tick-mark"></i> Верхний зуб находится близко к гайморовой пазухе, что может привести к её открытию.</li>
	</ul>
<p>
	В таких случаях необходимо применять хирургическое удаление зуба. Процедура проводится под местной анестезией. После вскрытия области врач удаляет зуб, а затем тщательно очищает рану от воспаленных тканей и накладывает швы для закрытия операционной зоны.
</p>
	<p>
		Чтобы остановить кровотечение, после процедуры нужно прикусить марлевый тампон на 30 минут, после чего пациент может идти домой. После сложных операций возможно появление отека на лице, и может потребоваться прием антибиотиков и обезболивающих.
	</p>
</div>
	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/tooth-extraction/tooth-extraction_3.jpg' %}" alt="Доктор осматривает ротовую полость пациента">
	</div>
</div>
						<br>
<div class="row">
	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/tooth-extraction/tooth-extraction_4.jpg' %}" alt="Доктор осматривает ротовую полость пациента">
	</div>

<div class="col-lg-8">
	<h3>Когда может понадобиться закрытие гайморовой пазухи?</h3>
<p>
	Гайморова пазуха, или синус, расположена в верхней челюсти над зубами. Закрытие пазухи необходимо, если она открывается. Это может произойти при удалении моляров, когда через место зуба гайморова пазуха соединяется с ротовой полостью.
</p>
<p>
	Для закрытия пазухи в области удаленного зуба делаются разрезы на десне, формируя лоскут, который сшивается швами, чтобы отделить гайморову пазуху от ротовой полости. Швы снимаются через 1-2 недели. Если пазуха не будет закрыта, пища и напитки могут попадать в носовую полость, а различные бактерии могут проникать в пазуху, вызывая воспаление, которое требует лечения у отоларинголога.
</p>
	<h3>Что такое резекция верхушки корня зуба?</h3>
<p>
	Резекция верхушки корня — это удаление кончика корня зуба. Если после лечения корневого канала в области верхушки корня возникает воспаление, это хирургическое вмешательство применяется для спасения зуба.
</p>
<p>
	Операция проводится под местной анестезией. Делается небольшой разрез на десне, через который удаляются воспаленные костные ткани и кончик корня зуба. Затем накладываются швы, которые снимаются через неделю. После операции может потребоваться обезболивающее, а также возможно появление отека на лице, который исчезает через два-три дня при внешнем охлаждении.
</p>
</div>
</div>
						<br>
{% include "sections/button-center.html" %}

					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}