 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--  Inner -->
<div class="row">
	<div class="col-lg-8">

			<h2>{{ super_title }}</h2>
<p>
    Воспаленный или неправильно расположенный зуб мудрости может вызывать неприятные осложнения. В таких случаях удаление зуба часто становится единственным решением для пациента.
</p>
<p>
    Зубы мудрости часто развиваются в неудобном положении, обычно прорезываются на более низком уровне и наклоняются к седьмому зубу перед ними. Эти зубы завершают свое развитие к 18-24 годам, и их положение впоследствии уже не изменится. Возможно также, что зуб мудрости останется в лежачем положении и не сможет прорезаться. В результате может образоваться гнойный очаг, что иногда сопровождается воспалением. Часто это остается незамеченным, и причина проблемы обнаруживается только при обследовании на предмет очаговых инфекций, когда возникают другие симптомы, такие как выпадение волос или покраснение кожи.
</p>
<p>
    С точки зрения жевания, эти зубы абсолютно бесполезны, поэтому их удаление не требует замены, так как пациенты даже не замечают их отсутствия. Процедуру удаления можно разделить на два типа: "простое" удаление или хирургическое.
</p>
<h3>Простое удаление зуба мудрости</h3>
<p>
    В этом случае не требуется использование хирургических инструментов. Около 35% нижних зубов мудрости, которые прорезались, могут быть удалены таким образом. Для верхних зубов мудрости этот показатель составляет 96%.
</p>

</div>
	<div class="col-lg-4">
			<img src="{% static 'blog/img/service/tooth-extraction/bolcsessegfog-eltavolitas-bolcsessegfog-eltavolitas_1jpg.jpg' %}" alt="у человека болит зуб">
	</div>
</div>
        <br>
{% include "sections/button-center.html" %}
<!-- end things  -->
<div class="row">
	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/tooth-extraction/bolcsessegfog-eltavolitas-bolcsessegfog-eltavolitasa_2jpg.jpg' %}" alt="Доктор осматривает ротовую полость пациента">
	</div>

<div class="col-lg-8">
<br>
<h3>Когда необходимо хирургическое удаление зуба мудрости?</h3>
<p>
    Хирургическое удаление зуба мудрости требуется, когда зубы мудрости остаются в челюсти или их анатомическая форма делает простое удаление невозможным.
</p>
<p>
    Вокруг коронки зуба, находящегося в кости, может образоваться киста, разрушающая костную ткань. Неправильно расположенный зуб может оказывать давление на соседний моляр, вызывая его повреждение. Из-за трудности в очистке зубы быстрее подвергаются кариесу. Воспаление вокруг зуба может распространиться на отдаленные части организма, вызывая так называемые очаговые инфекции. Давление, оказываемое зубом, растущим в неправильном направлении, может деформировать весь нижний зубной ряд и стать причиной нарушений прикуса, что часто требует последующего ортодонтического лечения.
</p>
<p>
    Процедура полностью безболезненна, проводится под местной анестезией. После операции рекомендуется прием антибиотиков и обезболивающих средств. Период заживления обычно составляет одну неделю.
</p>
</div>
</div>

<div class="row">

<div class="col-lg-8">
<h3>Знаете ли вы, что...</h3>
<p>
    ...много тысяч лет назад зубы мудрости у наших предков вызывали меньше проблем? Наши предки употребляли более грубую пищу, поэтому их челюсть была шире, что обеспечивало достаточно места для зубов мудрости. Однако с распространением вареной пищи мы постепенно перестали жевать с такой нагрузкой, что привело к ослаблению корней зубов и уменьшению пространства в челюсти для зубов. Именно поэтому зубы мудрости так часто застревают или растут криво в наши дни.
</p>
</div>
	<div class="col-lg-4">
			<br>
			<img src="{% static 'blog/img/service/tooth-extraction/bolcsessegfog-eltavolitas-wisdom-teeth-removal_3jpg.jpg' %}" alt="Доктор осматривает ротовую полость пациента">
	</div>
</div>
						<br>


					</div>
				</div>
			</div>
		</section>
		<!--/ End  Page -->


{% endblock content %}