 {% extends 'blog/base.html' %}
 {% load static %}

 {% block content %}

{% block breadcrumbs %}
   {% include "sections/breadcrumbs.html" %}
{% endblock breadcrumbs %}

 		<!-- Start Team -->

		<section id="team" class="team section single-page">
			<div class="container">
				<div class="row">
					{% for item in doctors_grig %}
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<div class="t-head">
								<img src="{{ item.url_name }}" alt="#">
								<div class="t-icon">
									<a href="{% url 'Dr_Nyorba_Peter' %}" class="btn">Подробнее</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>{{ item.ships_crew }}</p>
								<h2><a href="{% url 'Dr_Nyorba_Peter' %}">{{ item.name }}</a></h2>
							</div>
						</div>
						<!-- End Single Team -->
					</div>
					{% endfor %}


				</div>
			</div>
		</section>
		<!--/ End Team -->
 {% endblock content %}