{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

<div class="doctor-details-area section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="doctor-details-item doctor-details-left">
                    <img src="{% static '/blog/img/doctors/Nyorba_Peter.jpg' %}" alt="{{ title }}">
                    <div class="doctor-details-contact">
                        <h3>Contact info</h3>
                        <ul class="basic-info">
                            <li>
                                <i class="icofont-ui-call"></i>
                                Call : {{ based.phone }}
                            </li>
                            <li>
                                <i class="icofont-ui-message"></i>
                                {{ based.email }}
                            </li>
                            <li>
                                <i class="icofont-location-pin"></i>
                                {{ based.address }}
                            </li>
                        </ul>
                        <!-- Social -->

                        <!-- End Social -->
                        <div class="doctor-details-work">
                            <h3>Working hours</h3>
                            <ul class="time-sidual">
                                <li class="day">Monday - Friday <span>{{ based.time }}</span></li>
                                <li class="day">Saturday, Sunday <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="doctor-details-item">
                    <div class="doctor-details-right">
                        <div class="doctor-name">
                            <h3 class="name">{{ title }}</h3>
                            <p class="deg">{{ super_title }}</p>
<!--                            <p class="degree">MBBS in Neurology, PHD in Neurosurgeon.</p>-->
                        </div>
                        <div class="doctor-details-biography">
                            <h3>Biography</h3>

                            <p>Я Питер Ниорба, заведующий стоматологическим отделением.
                                Я окончил факультет экономики и социальных наук Будапештского университета технологии и экономики по специальности "Международный менеджмент".
                                На протяжении всей своей профессиональной карьеры я всегда уделял особое внимание эффективности, стратегическому планированию и применению инновационных решений для наилучшей поддержки команды.</p>
                            <p>Я обеспечиваю экономическую основу для работы стоматологии, чтобы наша клиника могла обслуживать пациентов максимально эффективно.
                                Для меня работа - это еще и призвание, поскольку я верю, что при надлежащей поддержке я смогу внести свой вклад в качественное медицинское обслуживание.</p>
                            <p>
                                В свободное время я люблю читать, погружаюсь в чтение хорошей книги и регулярно хожу в спортзал, чтобы с энергией решать повседневные задачи.
                            </p>
                            <p>
                                Я рад быть частью команды и вносить свой вклад в успех практики своей работой!
                            </p>
                        </div>
                        <div class="doctor-details-biography">
                            <h3>Education</h3>
                            <ul>
                                <li>PHD degree in Neorology at University of Mediserv (2006)</li>
                                <li>Master of Neoro Surgery  at University of Mediserv (2002)</li>
                                <li>MBBS degree in Neurosciences at University of Mediserv (2002)</li>
                                <li>Higher Secondary Certificate at Mediserv collage  (1991)</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- End Doctor Details -->
{% endblock content %}