{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% block breadcrumbs %}
<!-- Breadcrumbs -->
{% include "sections/breadcrumbs.html" %}
<!-- End Breadcrumbs -->
{% endblock breadcrumbs %}

<div class="doctor-details-area section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="doctor-details-item doctor-details-left">
                    <img src="{% static '/blog/img/doctors/Toth_Viktoria.jpg' %}" alt="{{ title }}">
                    <div class="doctor-details-contact">
                        <h3>Contact info</h3>
                        <ul class="basic-info">
                            <li>
                                <i class="icofont-ui-call"></i>
                                Call : {{ based.phone }}
                            </li>
                            <li>
                                <i class="icofont-ui-message"></i>
                                {{ based.email }}
                            </li>
                            <li>
                                <i class="icofont-location-pin"></i>
                                {{ based.address }}
                            </li>
                        </ul>
                        <!-- Social -->

                        <!-- End Social -->
                        <div class="doctor-details-work">
                            <h3>Working hours</h3>
                            <ul class="time-sidual">
                                <li class="day">Monday - Friday <span>{{ based.time }}</span></li>
                                <li class="day">Saturday, Sunday <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="doctor-details-item">
                    <div class="doctor-details-right">
                        <div class="doctor-name">
                            <h3 class="name">{{ title }}</h3>
                            <p class="deg">{{ super_title }}</p>
<!--                            <p class="degree">MBBS in Neurology, PHD in Neurosurgeon.</p>-->
                        </div>
                        <div class="doctor-details-biography">
                            <h3>Biography</h3>

                            <p>В 2023 году я закончила курсы ассистентов стоматолога.
                                Я укрепляю небольшую команду DNP Dental в области протезирования, консервации зубов и челюстно-лицевой хирургии.
                                Своей работой я стараюсь помогать как своим коллегам, так и нашим пациентам, поддерживать и обеспечивать бесперебойную работу клиники.
                            </p>
                        </div>
                        <div class="doctor-details-biography">
                            <h3>Education</h3>
                            <ul>
                                <li>PHD degree in Neorology at University of Mediserv (2006)</li>
                                <li>Master of Neoro Surgery  at University of Mediserv (2002)</li>
                                <li>MBBS degree in Neurosciences at University of Mediserv (2002)</li>
                                <li>Higher Secondary Certificate at Mediserv collage  (1991)</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- End Doctor Details -->
{% endblock content %}