<form class="form" action="{% url 'mail_success' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p {% if message.tags %} class="text-info bg-dark"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
                <input name="name" type="text" placeholder="ФИО">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
                <input name="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
                <input name="phone" type="text" placeholder="Телефон">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
                <div class="nice-select form-control wide" tabindex="0"><span class="current">Направление лечения</span>
                    <ul class="list">
                        <li data-value="Kezelések" class="option selected ">Лечение</li>
                        <li data-value="Csontpótlás" class="option">Замена кости</li>
                        <li data-value="All-on-4™ és All-on-6™ fogpótlások" class="option">Протезы All-on-4™ и All-on-6™</li>
                        <li data-value="8 implantátumon rögzített körhíd" class="option">Круглый мост на 8 имплантах</li>
                        <li data-value="Bölcsességfog eltávolítás" class="option">Удаление зуба мудрости</li>
                        <li data-value="Foghúzás5" class="option">Удаление зуба</li>
                        <li data-value="Fog implantáció" class="option">Имплантация зубов</li>
                        <li data-value="Inlay/ Onlay" class="option">Inlay/ Onlay</li>
                        <li data-value="Gyökérkezelés" class="option">Лечение корней</li>
                        <li data-value="Tömés" class="option">Пломбирование</li>
                        <li data-value="Ideiglenes fogpótlások" class="option">Временные протезы</li>
                        <li data-value="Implantátumokkal stabilizált kivehető fogsorok" class="option">Съемные протезы, стабилизированные имплантатами</li>
                        <li data-value="Teljes/ részleges kivehető fogsorok" class="option">Полные/частичные съемные протезы</li>
                        <li data-value="Fogászati hidak" class="option">Зубные мосты</li>
                        <li data-value="E.Max péskerámia korona, héj" class="option">Керамическая коронка E.Max</li>
                        <li data-value="Cirkónium korona" class="option">Циркониевая коронка</li>
                        <li data-value="Fémkerámia korona" class="option">Металлокерамическая коронка</li>
                        <li data-value="E.max préskerámia héj" class="option">Прессованная керамическая оболочка E.max</li>
                        <li data-value="Fogfehérítés" class="option">Отбеливание зубов</li>
                        <li data-value="Fogászati konzultáció, fogászati állapotfelmérés" class="option">Консультация стоматолога, оценка состояния зубов</li>
                        <li data-value="Fogkőeltávolítás" class="option">Удаление зубного камня</li>
                        <li data-value="Egyéb" class="option">Другое</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
                <input type="text" placeholder="Дата рождения" id="datepicker">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="form-group">
                <input type="file" name="file" id="file_send" placeholder="Выберите файл">
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-12">
            <div class="form-group">
                <textarea name="message" placeholder="Напишите Ваше сообщение здесь....."></textarea>
            </div>
        </div>


            <div class="col-lg-12 col-md-12 col-12">
                    <div class="button  col text-center">
                        <button type="submit" name="submit" class="btn">Отправить</button>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12">
                <div class="form-group col text-center">
                          <label class="serv check_box">
                            <input type="checkbox" value="remember-me"> Я принимаю <a href="{% url 'privacy_policy' %}">Уведомление о конфиденциальности</a>.
                          </label>
                </div>
            </div>

</div>
</form>