		<section class="contact-us section">
			<div class="">
				<div class="inner">
					<div class="row">

						<div class="col-lg-12">
							<div class="contact-us-form">
								<h2>Contact With Us</h2>
								<p>If you have any questions please fell free to contact with us.</p>
								<!-- Form -->
								<form class="form" method="post" action="mail/mail.php">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="name" placeholder="Имя" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="email" name="email" placeholder="Email" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="phone" placeholder="Телефон" required="">
											</div>
										</div>
										<div class="col-lg-6">
            <div class="form-group">
                <div class="nice-select form-control wide" tabindex="0"><span class="current">Направление лечения</span>
                    <ul class="list">
                        <li data-value="Kezelések" class="option selected ">Лечение</li>
                        <li data-value="Csontpótlás" class="option">Замена кости</li>
                        <li data-value="All-on-4™ és All-on-6™ fogpótlások" class="option">Протезы All-on-4™ и All-on-6™</li>
                        <li data-value="8 implantátumon rögzített körhíd" class="option">Круглый мост на 8 имплантах</li>
                        <li data-value="Bölcsességfog eltávolítás" class="option">Удаление зуба мудрости</li>
                        <li data-value="Foghúzás5" class="option">Удаление зуба</li>
                        <li data-value="Fog implantáció" class="option">Имплантация зубов</li>
                        <li data-value="Inlay/ Onlay" class="option">Inlay/ Onlay</li>
                        <li data-value="Gyökérkezelés" class="option">Лечение корней</li>
                        <li data-value="Tömés" class="option">Пломбирование</li>
                        <li data-value="Ideiglenes fogpótlások" class="option">Временные протезы</li>
                        <li data-value="Implantátumokkal stabilizált kivehető fogsorok" class="option">Съемные протезы, стабилизированные имплантатами</li>
                        <li data-value="Teljes/ részleges kivehető fogsorok" class="option">Полные/частичные съемные протезы</li>
                        <li data-value="Fogászati hidak" class="option">Зубные мосты</li>
                        <li data-value="E.Max péskerámia korona, héj" class="option">Керамическая коронка E.Max</li>
                        <li data-value="Cirkónium korona" class="option">Циркониевая коронка</li>
                        <li data-value="Fémkerámia korona" class="option">Металлокерамическая коронка</li>
                        <li data-value="E.max préskerámia héj" class="option">Прессованная керамическая оболочка E.max</li>
                        <li data-value="Fogfehérítés" class="option">Отбеливание зубов</li>
                        <li data-value="Fogászati konzultáció, fogászati állapotfelmérés" class="option">Консультация стоматолога, оценка состояния зубов</li>
                        <li data-value="Fogkőeltávolítás" class="option">Удаление зубного камня</li>
                        <li data-value="Egyéb" class="option">Другое</li>
                    </ul>
                </div>
            </div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<textarea name="message" placeholder="Ваше соощение" required=""></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">Отправить</button>
											</div>
                                            <div class="form-group">
                                            <input type="checkbox" class="custom-checkbox" id="cont" name="cont" value="yes">
                                            <p class="text-center">Я принимаю - <a href="#">Уведомление о конфиденциальности.</a></p>
                                            </div>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
        <div class="contact-info">
            <div class="row">
                <!-- single-info -->
                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="icofont icofont-ui-call"></i>
                        <div class="content">
                            <h3>+36 70 405 6646</h3>
                            <p>{{ based.email }}</p>
                        </div>
                    </div>
                </div>
                <!--/End single-info -->
                <!-- single-info -->
                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="icofont-google-map"></i>
                        <div class="content">
                            <h3>{{ based.address }}</h3>
                        </div>
                    </div>
                </div>
                <!--/End single-info -->
                <!-- single-info -->
                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="icofont icofont-wall-clock"></i>
                        <div class="content">
                            <h3>Понед-Пятн: <br>{{ based.time }}</h3>
                            <p>Сб, Вс - Закрыто</p>
                        </div>
                    </div>
                </div>
                <!--/End single-info -->
            </div>
        </div>
    </div>
</section>