<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h1>{{ super_title }}</h1>
                    <ul class="bread-list">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><i class="icofont-simple-right"></i></li>
{% if '/doctors/' in request.path %}
                        <li><a href="{% url 'doctors' %}">Врачи</a></li>
                        <li><i class="icofont-simple-right"></i></li>
{% endif %}
{% if '/service/' in request.path %}
                        <li><a href="{% url 'service' %}">Лечение</a></li>
                        <li><i class="icofont-simple-right"></i></li>
{% endif %}
{% if '/denture/' in request.path %}
                        <li><a href="{% url 'denture' %}">Протезы</a></li>
                        <li><i class="icofont-simple-right"></i></li>
{% endif %}
                        <li class="active">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->