{% load static %}
<header class="header style2" >
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <!-- Contact -->
                    <ul class="top-link">
                        <li><a href="{% url 'about-clinic' %}">О клинике</a></li>
                        <li><a href="{% url 'doctors' %}">Доктора</a></li>
                        <li><a href="{% url 'price' %}">Прайс</a></li>
                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                    </ul>
                    <!-- End Contact -->
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <!-- Top Contact -->
                    <ul class="top-contact">
                        <li><i class="fa fa-phone"></i>{{ based.phone }}</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ based.emaiL }}">{{ based.email }}</a></li>
                    </ul>
                    <!-- End Top Contact -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Middle Header -->
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Logo -->
                    <div class="logo">
                        <a href="{% url 'home' %}"><img class="logo_mine" src="{% static '/blog/img/logo/DNP-10.png' %}" alt="Logo"></a>
                    </div>
                    <!-- End Logo -->
                    <!-- Mobile Nav -->
                    <div class="mobile-nav"></div>
                    <!-- End Mobile Nav -->
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="widget-main">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <i class="icofont-ui-call"></i>
                            <p>Телефон</p>
                            <h4>{{ based.phone }}</h4>
                        </div>
                        <!--/ End Single Widget -->
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <i class="icofont-clock-time"></i>
                            <p>Время работы</p>
                            <h4>Пн-Пт: {{ based.time }}</h4>
                        </div>
                        <!--/ End Single Widget -->
                        <!-- Single Widget -->
                        <div class="single-widget button">
                            <div class="get-quote">
                                <a href="{% url 'appointment' %}" class="btn">Записаться на прием</a>
                            </div>
                        </div>
                        <!--/ End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Middle Header -->
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>
                                    <a href="{% url 'home' %}">Главная </a>
                                    </li>

                                    <li {% if '/service/' in request.path %}class="active"{% endif %}>
                                    <a href="{% url 'service' %}">Лечение <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'consultation' %}">Консультация стоматолога,<br>оценка состояния зубов</a></li>
                                            <li><a href="{% url 'aesthetic_dentistry' %}">Эстетическая стоматология</a></li>
                                            <li><a href="{% url 'korona' %}">Коронки</a></li>
                                            <li><a href="#">Зубные мосты</a></li>
                                            <li><a href="#">Протезы</a></li>
                                            <li><a href="#">Пломбирование</a></li>
                                            <li><a href="#">Лечение корневых каналов</a></li>
                                            <li><a href="#">Вкладки на зуб (inlay/onlay)</a></li>
                                            <li><a href="#">Удаление зуба</a></li>
                                            <li><a href="#">Удаление зуба мудрости</a></li>
                                            <li><a href="#">Зубная имплантация</a></li>
                                            <li><a href="#">Замена костной ткани</a></li>
                                        </ul>
                                    </li>

                                    <li {% if '/doctors/' in request.path %}class="active"{% endif %}>
                                    <a href="{% url 'doctors' %}">Наши врачи</a>
                                    </li>

                                    <li
                                    {% if request.resolver_match.url_name == 'about-clinic' %}
                                        class="active"
                                    {% elif request.resolver_match.url_name == 'price' %}
                                        class="active"
                                    {% elif request.resolver_match.url_name == 'time_table' %}
                                        class="active"
                                    {% elif request.resolver_match.url_name == 'privacy_policy' %}
                                        class="active"
                                    {% elif request.resolver_match.url_name == 'faq' %}
                                        class="active"
                                    {% elif request.resolver_match.url_name == 'appointment' %}
                                        class="active"
                                    {% endif %}
                                    >
                                    <a href="#">О нас <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'about-clinic' %}">О клинике</a></li>
                                            <li><a href="{% url 'price' %}">Прайс</a></li>
<!--                                            <li><a href="{% url 'time_table' %}">Время работы</a></li>-->
                                            <li><a href="{% url 'privacy_policy' %}">Privacy policy</a></li>
                                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                                            <li><a href="{% url 'appointment' %}">Записаться на прием</a></li>
                                        </ul>
                                    </li>
                                    <li {% if '/blog-grid/' in request.path %}class="active"{% endif %}><a href="{% url 'blog' %}">Блог</i></a>
                                    </li>
                                    <li {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}><a href="{% url 'contact' %}">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                        <div class="right-bar">
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="search"><a href="#0"><i class="icofont-search-1"></i></a></div>
                            <form class="search-form">
                                <input type="text" placeholder="Поиск" name="search">
                                <button value="search" type="submit"><i class="icofont-search-1"></i></button>
                            </form>
                        </div>
                        <!--/ End Search Form -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>